n8n/workflow.backup.json
{"workflow":{"id":"VLO8ouPtHCTmyZUm","name":"CV Job Matcher — dev.bg","active":true,"isArchived":false,"versionId":"a6bb1846-b142-4b92-a494-5c5bc07de2a4","activeVersionId":"a6bb1846-b142-4b92-a494-5c5bc07de2a4","triggerCount":1,"createdAt":"2026-06-22T19:50:33.677Z","updatedAt":"2026-06-23T20:25:34.951Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Receive CV Upload":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Parse CV Profile":{"main":[[{"node":"Build dev.bg Target URL","type":"main","index":0}]]},"Gemini Flash (CV Parse)":{"ai_languageModel":[[{"node":"Parse CV Profile","type":"ai_languageModel","index":0}]]},"Build dev.bg Target URL":{"main":[[{"node":"Fetch dev.bg","type":"main","index":0}]]},"Compose Scoring Input":{"main":[[{"node":"Score Job vs CV","type":"main","index":0}]]},"Gemini Flash (Scoring)":{"ai_languageModel":[[{"node":"Score Job vs CV","type":"ai_languageModel","index":0}]]},"Sort by Score":{"main":[[{"node":"Aggregate Job Results","type":"main","index":0}]]},"Aggregate Job Results":{"main":[[{"node":"Build Final Response","type":"main","index":0}]]},"Build Final Response":{"main":[[{"node":"Email Provided?","type":"main","index":0}]]},"Email Provided?":{"main":[[{"node":"Send Results Email","type":"main","index":0}],[{"node":"Return Results","type":"main","index":0}]]},"Send Results Email":{"main":[[{"node":"Return Results","type":"main","index":0}]]},"Score Job vs CV":{"main":[[{"node":"Merge Score with Job","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Validate CV File","type":"main","index":0}]]},"Validate CV File":{"main":[[{"node":"Input Valid?","type":"main","index":0}]]},"Input Valid?":{"main":[[{"node":"Extract CV Text","type":"main","index":0}],[{"node":"Error: Invalid CV","type":"main","index":0}]]},"Extract CV Text":{"main":[[{"node":"CV Text Valid?","type":"main","index":0}]]},"CV Text Valid?":{"main":[[{"node":"Parse CV Profile","type":"main","index":0}],[{"node":"Error: Cannot Read CV","type":"main","index":0}]]},"Jobs Found?":{"main":[[{"node":"Split Jobs Into Items","type":"main","index":0}],[{"node":"Return Empty Results","type":"main","index":0}]]},"Merge Score with Job":{"main":[[{"node":"Sort by Score","type":"main","index":0}]]},"Assign Job URLs":{"main":[[{"node":"Jobs Found?","type":"main","index":0}]]},"Split Jobs Into Items":{"main":[[{"node":"Limit: Max 20 Jobs","type":"main","index":0}]]},"Parse Count":{"main":[[{"node":"More Pages?","type":"main","index":0}]]},"More Pages?":{"main":[[{"node":"Split Extra URLs","type":"main","index":0}],[{"node":"Page 1 Only","type":"main","index":0}]]},"Split Extra URLs":{"main":[[{"node":"Fetch Extra Pages","type":"main","index":0}]]},"Merge All Pages":{"main":[[{"node":"Combined Scrape","type":"main","index":0}]]},"Page 1 Only":{"main":[[{"node":"Combined Scrape","type":"main","index":0}]]},"Limit: Max 20 Jobs":{"main":[[{"node":"Compose Scoring Input","type":"main","index":0}]]},"Combined Scrape":{"main":[[{"node":"Extract Job Listings","type":"main","index":0}]]},"Extract Job Listings":{"main":[[{"node":"Assign Job URLs","type":"main","index":0}]]},"Fetch dev.bg":{"main":[[{"node":"Parse Count","type":"main","index":0}]]},"Fetch Extra Pages":{"main":[[{"node":"Merge All Pages","type":"main","index":0}]]}},"nodes":[{"parameters":{"httpMethod":"POST","path":"cv-job-matcher","responseMode":"responseNode","options":{}},"id":"56592bed-a457-4f7c-a89a-d109fa941ac0","name":"Receive CV Upload","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,112],"webhookId":"0a020a74-8fb9-46c0-b12f-a06144d71de8"},{"parameters":{"assignments":{"assignments":[{"id":"n-loc","name":"location","value":"={{ $json.body?.location ?? $json.location ?? \"Remote\" }}","type":"string"},{"id":"n-lang","name":"language","value":"={{ $json.body?.language ?? $json.language ?? \"И двата\" }}","type":"string"},{"id":"n-email","name":"user_email","value":"={{ $json.body?.email ?? $json.email ?? \"\" }}","type":"string"},{"id":"n-days","name":"days_back","value":"={{ Math.min(Number($json.body?.days_back ?? $json.days_back ?? 5), 10) }}","type":"number"},{"id":"n-start","name":"workflow_start","value":"={{ $now.toMillis() }}","type":"number"}]},"includeOtherFields":true,"options":{}},"id":"142060ff-df66-4932-927a-83982ad18005","name":"Normalize Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,112]},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $json.binary_field || 'data' }}","options":{"joinPages":true}},"id":"02230ec7-7a0b-4c15-b58c-ae07121bdd4a","name":"Extract CV Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[528,112]},{"parameters":{"text":"={{ $json.text }}","schemaType":"fromJson","jsonSchemaExample":"{\"skills\": [\"JavaScript\", \"Node.js\", \"PostgreSQL\"], \"programming_languages\": [\"JavaScript\", \"Python\"], \"frameworks\": [\"Express\", \"React\"], \"tools\": [\"Docker\", \"Git\", \"AWS\"], \"spoken_languages\": [\"English\", \"Bulgarian\"], \"experience_level\": \"Mid\", \"job_type\": \"Backend\", \"years_of_experience\": 4, \"job_titles\": [\"Backend Developer\", \"Software Engineer\"]}","options":{"systemPromptTemplate":"Extract the candidate profile from this CV text. For job_type use ONE of: Backend, Frontend, Fullstack, QA. For experience_level use: Junior (0-2 years), Mid (2-5 years), Senior (5-10 years), Lead (10+ years). Extract all technical skills, languages, frameworks, and tools. For spoken_languages extract all human languages mentioned (e.g. English, Bulgarian, German) — include any language with a proficiency level mentioned in the CV."}},"id":"c2ea4037-65b5-45a9-8824-a0dc63b59bfb","name":"Parse CV Profile","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[720,112]},{"parameters":{"modelName":"models/gemini-3.1-flash-lite","options":{"temperature":0}},"id":"d35ab740-fa94-426c-a85b-1a7a2d992bc6","name":"Gemini Flash (CV Parse)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[752,256]},{"parameters":{"jsCode":"const cvProfile = $input.first().json.output;\nconst prefs = $('Normalize Input').first().json;\n\nconst urlMap = {\n  'Backend':  'https://dev.bg/company/jobs/back-end-development/',\n  'Frontend': 'https://dev.bg/company/jobs/front-end-development/',\n  'Fullstack':'https://dev.bg/company/jobs/full-stack-development/',\n  'QA':       'https://dev.bg/company/jobs/quality-assurance/',\n  'Mobile':   'https://dev.bg/company/jobs/mobile/',\n  'DevOps':   'https://dev.bg/company/jobs/infrastructure/',\n  'Data':     'https://dev.bg/company/jobs/data-science-and-analytics/'\n};\n\nconst locationMap = {\n  'Remote':       'remote',\n  'София':       'sofiya',\n  'Пловдив':      'plovdiv',\n  'Варна':        'varna',\n  'Бургас':       'burgas',\n  'Русе':         'ruse',\n  'Стара Загора': 'stara-zagora'\n};\n\nconst jobType = cvProfile?.job_type || 'Backend';\nconst baseUrl = urlMap[jobType] || 'https://dev.bg/company/jobs/';\nconst locationSlug = locationMap[prefs.location];\nconst scrapeUrl = locationSlug\n  ? baseUrl + '?_job_location=' + encodeURIComponent(locationSlug)\n  : baseUrl;\n\nreturn [{\n  json: {\n    cv_profile: {\n      skills:               cvProfile?.skills || [],\n      programming_languages: cvProfile?.programming_languages || [],\n      frameworks:            cvProfile?.frameworks || [],\n      tools:                 cvProfile?.tools || [],\n      spoken_languages:      cvProfile?.spoken_languages || [],\n      experience_level:      cvProfile?.experience_level || 'Mid',\n      job_type:              jobType,\n      years_of_experience:   cvProfile?.years_of_experience || 0,\n      job_titles:            cvProfile?.job_titles || []\n    },\n    scrape_url:      scrapeUrl,\n    location:        prefs.location,\n    language:        prefs.language,\n    user_email:      prefs.user_email,\n    days_back:       prefs.days_back || 5\n  }\n}];"},"id":"9f14d416-5abc-40e5-9ad8-167f91a13947","name":"Build dev.bg Target URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,112]},{"parameters":{"url":"={{ $json.scrape_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"dbf87784-e8a6-4f34-88d0-311f01ca1eda","name":"Fetch dev.bg","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1216,112]},{"parameters":{"fieldToSplitOut":"output.jobs","options":{}},"id":"e8d4d770-29dc-4a93-85c6-b0ff9bf65e1b","name":"Split Jobs Into Items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2240,400]},{"parameters":{"maxItems":20},"id":"69dafb77-612a-4c93-a25b-05922df46bf0","name":"Limit: Max 20 Jobs","type":"n8n-nodes-base.limit","typeVersion":1,"position":[2416,400]},{"parameters":{"assignments":{"assignments":[{"id":"score-text","name":"scoring_text","value":"={{ \"=== CV PROFILE ===\\nSkills: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.skills.join(\", \") + \"\\nProgramming Languages: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.programming_languages.join(\", \") + \"\\nFrameworks: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.frameworks.join(\", \") + \"\\nTools: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.tools.join(\", \") + \"\\nSpoken Languages: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.spoken_languages.join(\", \") + \"\\nExperience Level: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.experience_level + \"\\nYears: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.years_of_experience + \"\\nPrevious Roles: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.job_titles.join(\", \") + \"\\n\\n=== JOB LISTING ===\\nTitle: \" + $json.title + \"\\nCompany: \" + $json.company + \"\\nLocation: \" + $json.location + \"\\nType: \" + $json.employment_type + \"\\nDescription: \" + $json.description }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"653413f8-12a3-447b-9cae-66c654263258","name":"Compose Scoring Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2592,400]},{"parameters":{"text":"={{ $json.scoring_text }}","schemaType":"fromJson","jsonSchemaExample":"{\"score\": 78, \"matched_skills\": [\"Node.js\", \"PostgreSQL\", \"REST API\"], \"missing_skills\": [\"Angular\", \"HTML\", \"CSS\"], \"experience_match\": true, \"summary\": \"Силно backend съвпадение — full-stack позиция, липсва frontend опит\"}","options":{"systemPromptTemplate":"You are a job matching expert. Given a CV profile and job listing, score the percentage of JOB requirements that the candidate covers (0-100). RULES: Do NOT exclude jobs for having extra requirements — show them with lower scores. matched_skills = requirements the candidate has. missing_skills = requirements the candidate lacks. Spoken Languages (e.g. English, Bulgarian) listed under 'Spoken Languages' in the CV profile are confirmed — do NOT list them as missing_skills. Write the summary in Bulgarian in one sentence.","batching":{"batchSize":1,"delayBetweenBatches":0}}},"id":"d55d2942-0097-4a59-8ee1-80498619f911","name":"Score Job vs CV","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[2768,400]},{"parameters":{"modelName":"models/gemini-3.5-flash","options":{"temperature":0}},"id":"e49cde4c-3bfd-4b94-9c6a-158e0bedd12b","name":"Gemini Flash (Scoring)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[2768,560]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"score","order":"descending"}]},"options":{}},"id":"be774883-1cb0-46bc-b333-4d23d52fd9a1","name":"Sort by Score","type":"n8n-nodes-base.sort","typeVersion":1,"position":[3216,400],"alwaysOutputData":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"jobs","options":{}},"id":"4162e51e-f5a7-4363-9c83-7a75845be987","name":"Aggregate Job Results","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3392,400],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"r-jobs","name":"jobs","value":"={{ ($json.jobs || []).filter(j => j.score >= 30) }}","type":"array"},{"id":"r-total","name":"total","value":"={{ ($json.jobs || []).filter(j => j.score >= 30).length }}","type":"number"},{"id":"r-time","name":"processed_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"r-ok","name":"success","value":true,"type":"boolean"},{"id":"r-ms","name":"processing_time_ms","value":"={{ $now.toMillis() - $('Normalize Input').first().json.workflow_start }}","type":"number"}]},"options":{}},"id":"ba717dab-edc3-4f33-85c7-25dc895b99f2","name":"Build Final Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3584,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"email-cond","leftValue":"={{ $('Build dev.bg Target URL').first().json.user_email }}","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"7acec30e-edee-44ea-82e1-a0c86de5efcf","name":"Email Provided?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3760,400]},{"parameters":{"sendTo":"={{ $('Build dev.bg Target URL').first().json.user_email }}","subject":"={{ \"CV Job Matcher — \" + $(\"Build Final Response\").first().json.total + \" подходящи обяви намерени\" }}","message":"={{ \"<h2>Намерихме \" + $(\"Build Final Response\").first().json.total + \" подходящи обяви!</h2><ul>\" + $(\"Build Final Response\").first().json.jobs.map(function(j) { return \"<li><strong>\" + j.title + \"</strong> — \" + j.company + \"<br>Съвпадение: <b>\" + j.score + \"%</b><br>\" + (j.summary || \"\") + \"<br><a href='\" + j.url + \"'>Виж обявата →</a></li>\"; }).join(\"\") + \"</ul>\" }}","options":{"appendAttribution":false}},"id":"0d57e652-b0bd-4120-a4ae-7ce193d544d3","name":"Send Results Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[3968,272],"webhookId":"782e0508-a7fd-44d1-b441-e13c8e4de2fe","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Final Response').first().json }}","options":{}},"id":"a194bb9f-f8bb-40e1-9740-09d701fabad7","name":"Return Results","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[4128,416]},{"parameters":{"jsCode":"// Index-match scored items with original job data (Information Extractor discards original fields)\nconst scoreItems = $input.all();\nconst originalItems = $('Compose Scoring Input').all();\n\nreturn scoreItems.map((scoreItem, i) => {\n  const scoreData = scoreItem.json.output || {};\n  const jobData = (originalItems[i] || { json: {} }).json;\n\n  return {\n    json: {\n      title: jobData.title || '',\n      company: jobData.company || '',\n      url: jobData.url || '',\n      date_posted: jobData.date_posted || '',\n      location: jobData.location || '',\n      employment_type: jobData.employment_type || '',\n      description: (jobData.description || '').substring(0, 500),\n      score: typeof scoreData.score === 'number' ? scoreData.score : 0,\n      matched_skills: Array.isArray(scoreData.matched_skills) ? scoreData.matched_skills : [],\n      missing_skills: Array.isArray(scoreData.missing_skills) ? scoreData.missing_skills : [],\n      experience_match: scoreData.experience_match === true,\n      summary: scoreData.summary || ''\n    }\n  };\n});"},"id":"254d57b4-c688-4a70-81c9-ce5f7697f27f","name":"Merge Score with Job","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,400]},{"parameters":{"jsCode":"const item = $input.first();\nconst binaryData = item.binary || {};\nconst binaryKeys = Object.keys(binaryData);\n\nif (binaryKeys.length === 0) {\n  return [{ json: { ...item.json, cv_valid: false, error_code: 'NO_FILE', error_message: 'Моля качете CV файл в PDF формат.' } }];\n}\n\nconst pdfField = binaryKeys.find(k => {\n  const b = binaryData[k];\n  return b.fileType === 'pdf' || (b.mimeType && b.mimeType.toLowerCase().includes('pdf'));\n});\n\nif (!pdfField) {\n  const got = binaryData[binaryKeys[0]];\n  const gotType = got.fileExtension || got.mimeType || 'неизвестен';\n  return [{\n    json: { ...item.json, cv_valid: false, error_code: 'WRONG_FORMAT', error_message: `Само PDF файлове се поддържат. Получен формат: ${gotType}.` },\n    binary: binaryData\n  }];\n}\n\nreturn [{\n  json: { ...item.json, cv_valid: true, binary_field: pdfField },\n  binary: binaryData\n}];"},"id":"d54b5851-344d-42df-98a5-0abba64b9757","name":"Validate CV File","type":"n8n-nodes-base.code","typeVersion":2,"position":[352,384]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"valid-check","leftValue":"={{ $json.cv_valid }}","operator":{"type":"boolean","operation":"true"},"rightValue":""}]},"options":{}},"id":"89705b31-eeed-4250-b807-06b5b6b7af58","name":"Input Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,384]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: $json.error_code, message: $json.error_message } }}","options":{"responseCode":400}},"id":"f81a44f2-6069-4aad-af5a-cce61f5273c6","name":"Error: Invalid CV","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[800,400]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"text-len-check","leftValue":"={{ ($json.text || '').length }}","operator":{"type":"number","operation":"gte"},"rightValue":200}]},"options":{}},"id":"31427831-e78e-4d91-b7a0-63537ce97428","name":"CV Text Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,560]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: 'UNREADABLE_CV', message: 'Не можахме да прочетем CV-то. Уверете се, че PDF файлът съдържа текст, а не е сканирано изображение.' } }}","options":{"responseCode":400}},"id":"b0ce1903-a517-4ee3-afe1-166309cc84b0","name":"Error: Cannot Read CV","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[800,576]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"jobs-count-check","leftValue":"={{ ($json.output?.jobs || []).length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}]},"options":{}},"id":"3dabc55d-a9cc-4e86-813a-5a29cc6ae5d5","name":"Jobs Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2048,416]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, jobs: [], total: 0, processed_at: $now.toISO(), message: 'Не намерихме обяви, отговарящи на критериите. Опитайте с по-широки предпочитания или по-голям брой дни.' } }}","options":{"responseCode":200}},"id":"cbcefd20-4fcc-439d-a722-8424e75a6799","name":"Return Empty Results","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2160,576]},{"parameters":{"jsCode":"const item = $input.first();\nconst jobs = (item.json.output?.jobs || []);\nconst daysBack = $('Build dev.bg Target URL').first().json.days_back || 5;\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - daysBack);\n\nconst jobsFiltered = jobs.filter(job => {\n  if (!job.date_posted) return true;\n  return new Date(job.date_posted) >= cutoff;\n});\n\nreturn [{ json: { output: { jobs: jobsFiltered } } }];"},"id":"eb493a44-fb69-476a-a41c-d71bffb6146d","name":"Assign Job URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,128]},{"parameters":{"jsCode":"const item = $input.first();\nconst html = item.json.data || '';\nconst baseUrl = $('Build dev.bg Target URL').first().json.scrape_url;\n\nconst countMatch = html.match(/\\((\\d+)\\s+нови\\)/);\nconst count = countMatch ? parseInt(countMatch[1]) : 20;\nconst totalPages = Math.min(Math.ceil(count / 20), 3);\n\nconst extraUrls = [];\nfor (let p = 2; p <= totalPages; p++) {\n  const sep = baseUrl.includes('?') ? '&' : '?';\n  extraUrls.push(baseUrl + sep + '_paged=' + p);\n}\n\nconst page1Jobs = parseJobsFromHtml(html);\n\nfunction decodeHtmlEntities(str) {\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction parseJobsFromHtml(html) {\n  const jobs = [];\n  const blocks = html.split('<div class=\"job-list-item');\n  blocks.shift();\n  for (const block of blocks) {\n    const urlMatch = block.match(/href=\"(https:\\/\\/dev\\.bg\\/company\\/jobads\\/[^\"]+)\"/);\n    if (!urlMatch) continue;\n    const url = urlMatch[1];\n    const titleMatch = block.match(/class=\"job-title[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/h6>/);\n    const title = titleMatch ? decodeHtmlEntities(titleMatch[1].trim()) : '';\n    if (!title) continue;\n    const companyMatch = block.match(/class=\"company-name[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const company = companyMatch ? decodeHtmlEntities(companyMatch[1].trim()) : '';\n    const dateMatch = block.match(/class=\"date[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n    const date_posted = convertBgDate(dateRaw);\n    const isRemote = /class=\"badge[^\"]*remote[^\"]*\"/.test(block);\n    const isHybrid = /class=\"badge[^\"]*hybrid[^\"]*\"/.test(block);\n    let location = 'Bulgaria';\n    if (isRemote) location = 'Remote';\n    else if (isHybrid) location = 'Hybrid';\n    const techMatches = [...block.matchAll(/<img[^>]+title=\"([^\"]+)\"[^>]*>/g)];\n    const techStack = [...new Set(techMatches.map(m => m[1]).filter(t => t && !t.toLowerCase().includes('icon') && t.length > 1))];\n    jobs.push({ title, company, url, date_posted, location, employment_type: 'Full-time', description: techStack.length > 0 ? 'Tech stack: ' + techStack.join(', ') : '' });\n  }\n  return jobs;\n}\n\nfunction convertBgDate(dateStr) {\n  const months = { 'яну': 1, 'фев': 2, 'мар': 3, 'апр': 4, 'май': 5, 'юни': 6, 'юли': 7, 'авг': 8, 'сеп': 9, 'окт': 10, 'ное': 11, 'дек': 12 };\n  const match = dateStr.match(/(\\d+)\\s+(\\S+)/);\n  if (!match) return new Date().toISOString().split('T')[0];\n  const day = parseInt(match[1]);\n  const monthKey = match[2].toLowerCase().substring(0, 3);\n  const month = months[monthKey] || (new Date().getMonth() + 1);\n  const year = new Date().getFullYear();\n  return `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\n\nreturn [{ json: { page1_jobs: page1Jobs, extra_urls: extraUrls, total_count: count, total_pages: totalPages } }];"},"id":"c9c4f353-e7f2-4caf-919b-81b0b9460313","name":"Parse Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,112]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"more-pages-check","leftValue":"={{ $json.extra_urls.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}]},"options":{}},"id":"5787502f-bdaf-4e8a-85b4-93fea7d8b4c4","name":"More Pages?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,112]},{"parameters":{"fieldToSplitOut":"extra_urls","options":{"destinationFieldName":"extra_url"}},"id":"c991ade5-e495-4fe2-8e0a-a4f6feaf9d08","name":"Split Extra URLs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1744,-48]},{"parameters":{"url":"={{ $json.extra_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"227109b3-afe5-4de1-9d59-455524090385","name":"Fetch Extra Pages","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,-48]},{"parameters":{"jsCode":"const page1Jobs = $('Parse Count').first().json.page1_jobs || [];\nconst extraItems = $input.all();\nlet allJobs = [...page1Jobs];\n\nfunction decodeHtmlEntities(str) {\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction parseJobsFromHtml(html) {\n  const jobs = [];\n  const blocks = html.split('<div class=\"job-list-item');\n  blocks.shift();\n  for (const block of blocks) {\n    const urlMatch = block.match(/href=\"(https:\\/\\/dev\\.bg\\/company\\/jobads\\/[^\"]+)\"/);\n    if (!urlMatch) continue;\n    const url = urlMatch[1];\n    const titleMatch = block.match(/class=\"job-title[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/h6>/);\n    const title = titleMatch ? decodeHtmlEntities(titleMatch[1].trim()) : '';\n    if (!title) continue;\n    const companyMatch = block.match(/class=\"company-name[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const company = companyMatch ? decodeHtmlEntities(companyMatch[1].trim()) : '';\n    const dateMatch = block.match(/class=\"date[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n    const date_posted = convertBgDate(dateRaw);\n    const isRemote = /class=\"badge[^\"]*remote[^\"]*\"/.test(block);\n    const isHybrid = /class=\"badge[^\"]*hybrid[^\"]*\"/.test(block);\n    let location = 'Bulgaria';\n    if (isRemote) location = 'Remote';\n    else if (isHybrid) location = 'Hybrid';\n    const techMatches = [...block.matchAll(/<img[^>]+title=\"([^\"]+)\"[^>]*>/g)];\n    const techStack = [...new Set(techMatches.map(m => m[1]).filter(t => t && !t.toLowerCase().includes('icon') && t.length > 1))];\n    jobs.push({ title, company, url, date_posted, location, employment_type: 'Full-time', description: techStack.length > 0 ? 'Tech stack: ' + techStack.join(', ') : '' });\n  }\n  return jobs;\n}\n\nfunction convertBgDate(dateStr) {\n  const months = { 'яну': 1, 'фев': 2, 'мар': 3, 'апр': 4, 'май': 5, 'юни': 6, 'юли': 7, 'авг': 8, 'сеп': 9, 'окт': 10, 'ное': 11, 'дек': 12 };\n  const match = dateStr.match(/(\\d+)\\s+(\\S+)/);\n  if (!match) return new Date().toISOString().split('T')[0];\n  const day = parseInt(match[1]);\n  const monthKey = match[2].toLowerCase().substring(0, 3);\n  const month = months[monthKey] || (new Date().getMonth() + 1);\n  const year = new Date().getFullYear();\n  return `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\n\nfor (const item of extraItems) {\n  const html = item.json.data || '';\n  if (html) allJobs = allJobs.concat(parseJobsFromHtml(html));\n}\n\nreturn [{ json: { jobs: allJobs } }];"},"id":"1be53666-b7ff-4a35-bd39-53e33b92b22c","name":"Merge All Pages","type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,-48]},{"parameters":{"jsCode":"const jobs = $('Parse Count').first().json.page1_jobs || [];\nreturn [{ json: { jobs } }];"},"id":"9a7ec05c-353d-4267-8465-b8ac4f08cf1f","name":"Page 1 Only","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,128]},{"parameters":{"jsCode":"return [$input.first()];"},"id":"034530c6-650d-41cd-bf5e-6a98d5673001","name":"Combined Scrape","type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,128]},{"parameters":{"jsCode":"const jobs = $input.first().json.jobs || [];\nreturn [{ json: { output: { jobs } } }];"},"id":"50d4eda0-0da4-4132-a454-a8a15e2496e2","name":"Extract Job Listings","type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,128]}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"cv-job-matcher","responseMode":"responseNode","options":{}},"id":"56592bed-a457-4f7c-a89a-d109fa941ac0","name":"Receive CV Upload","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,112],"webhookId":"0a020a74-8fb9-46c0-b12f-a06144d71de8"},{"parameters":{"assignments":{"assignments":[{"id":"n-loc","name":"location","value":"={{ $json.body?.location ?? $json.location ?? \"Remote\" }}","type":"string"},{"id":"n-lang","name":"language","value":"={{ $json.body?.language ?? $json.language ?? \"И двата\" }}","type":"string"},{"id":"n-email","name":"user_email","value":"={{ $json.body?.email ?? $json.email ?? \"\" }}","type":"string"},{"id":"n-days","name":"days_back","value":"={{ Math.min(Number($json.body?.days_back ?? $json.days_back ?? 5), 10) }}","type":"number"},{"id":"n-start","name":"workflow_start","value":"={{ $now.toMillis() }}","type":"number"}]},"includeOtherFields":true,"options":{}},"id":"142060ff-df66-4932-927a-83982ad18005","name":"Normalize Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,112]},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $json.binary_field || 'data' }}","options":{"joinPages":true}},"id":"02230ec7-7a0b-4c15-b58c-ae07121bdd4a","name":"Extract CV Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[528,112]},{"parameters":{"text":"={{ $json.text }}","schemaType":"fromJson","jsonSchemaExample":"{\"skills\": [\"JavaScript\", \"Node.js\", \"PostgreSQL\"], \"programming_languages\": [\"JavaScript\", \"Python\"], \"frameworks\": [\"Express\", \"React\"], \"tools\": [\"Docker\", \"Git\", \"AWS\"], \"spoken_languages\": [\"English\", \"Bulgarian\"], \"experience_level\": \"Mid\", \"job_type\": \"Backend\", \"years_of_experience\": 4, \"job_titles\": [\"Backend Developer\", \"Software Engineer\"]}","options":{"systemPromptTemplate":"Extract the candidate profile from this CV text. For job_type use ONE of: Backend, Frontend, Fullstack, QA. For experience_level use: Junior (0-2 years), Mid (2-5 years), Senior (5-10 years), Lead (10+ years). Extract all technical skills, languages, frameworks, and tools. For spoken_languages extract all human languages mentioned (e.g. English, Bulgarian, German) — include any language with a proficiency level mentioned in the CV."}},"id":"c2ea4037-65b5-45a9-8824-a0dc63b59bfb","name":"Parse CV Profile","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[720,112]},{"parameters":{"modelName":"models/gemini-3.1-flash-lite","options":{"temperature":0}},"id":"d35ab740-fa94-426c-a85b-1a7a2d992bc6","name":"Gemini Flash (CV Parse)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[752,256]},{"parameters":{"jsCode":"const cvProfile = $input.first().json.output;\nconst prefs = $('Normalize Input').first().json;\n\nconst urlMap = {\n  'Backend':  'https://dev.bg/company/jobs/back-end-development/',\n  'Frontend': 'https://dev.bg/company/jobs/front-end-development/',\n  'Fullstack':'https://dev.bg/company/jobs/full-stack-development/',\n  'QA':       'https://dev.bg/company/jobs/quality-assurance/',\n  'Mobile':   'https://dev.bg/company/jobs/mobile/',\n  'DevOps':   'https://dev.bg/company/jobs/infrastructure/',\n  'Data':     'https://dev.bg/company/jobs/data-science-and-analytics/'\n};\n\nconst locationMap = {\n  'Remote':       'remote',\n  'София':       'sofiya',\n  'Пловдив':      'plovdiv',\n  'Варна':        'varna',\n  'Бургас':       'burgas',\n  'Русе':         'ruse',\n  'Стара Загора': 'stara-zagora'\n};\n\nconst jobType = cvProfile?.job_type || 'Backend';\nconst baseUrl = urlMap[jobType] || 'https://dev.bg/company/jobs/';\nconst locationSlug = locationMap[prefs.location];\nconst scrapeUrl = locationSlug\n  ? baseUrl + '?_job_location=' + encodeURIComponent(locationSlug)\n  : baseUrl;\n\nreturn [{\n  json: {\n    cv_profile: {\n      skills:               cvProfile?.skills || [],\n      programming_languages: cvProfile?.programming_languages || [],\n      frameworks:            cvProfile?.frameworks || [],\n      tools:                 cvProfile?.tools || [],\n      spoken_languages:      cvProfile?.spoken_languages || [],\n      experience_level:      cvProfile?.experience_level || 'Mid',\n      job_type:              jobType,\n      years_of_experience:   cvProfile?.years_of_experience || 0,\n      job_titles:            cvProfile?.job_titles || []\n    },\n    scrape_url:      scrapeUrl,\n    location:        prefs.location,\n    language:        prefs.language,\n    user_email:      prefs.user_email,\n    days_back:       prefs.days_back || 5\n  }\n}];"},"id":"9f14d416-5abc-40e5-9ad8-167f91a13947","name":"Build dev.bg Target URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,112]},{"parameters":{"url":"={{ $json.scrape_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"dbf87784-e8a6-4f34-88d0-311f01ca1eda","name":"Fetch dev.bg","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1216,112]},{"parameters":{"fieldToSplitOut":"output.jobs","options":{}},"id":"e8d4d770-29dc-4a93-85c6-b0ff9bf65e1b","name":"Split Jobs Into Items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2240,400]},{"parameters":{"maxItems":20},"id":"69dafb77-612a-4c93-a25b-05922df46bf0","name":"Limit: Max 20 Jobs","type":"n8n-nodes-base.limit","typeVersion":1,"position":[2416,400]},{"parameters":{"assignments":{"assignments":[{"id":"score-text","name":"scoring_text","value":"={{ \"=== CV PROFILE ===\\nSkills: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.skills.join(\", \") + \"\\nProgramming Languages: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.programming_languages.join(\", \") + \"\\nFrameworks: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.frameworks.join(\", \") + \"\\nTools: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.tools.join(\", \") + \"\\nSpoken Languages: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.spoken_languages.join(\", \") + \"\\nExperience Level: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.experience_level + \"\\nYears: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.years_of_experience + \"\\nPrevious Roles: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.job_titles.join(\", \") + \"\\n\\n=== JOB LISTING ===\\nTitle: \" + $json.title + \"\\nCompany: \" + $json.company + \"\\nLocation: \" + $json.location + \"\\nType: \" + $json.employment_type + \"\\nDescription: \" + $json.description }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"653413f8-12a3-447b-9cae-66c654263258","name":"Compose Scoring Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2592,400]},{"parameters":{"text":"={{ $json.scoring_text }}","schemaType":"fromJson","jsonSchemaExample":"{\"score\": 78, \"matched_skills\": [\"Node.js\", \"PostgreSQL\", \"REST API\"], \"missing_skills\": [\"Angular\", \"HTML\", \"CSS\"], \"experience_match\": true, \"summary\": \"Силно backend съвпадение — full-stack позиция, липсва frontend опит\"}","options":{"systemPromptTemplate":"You are a job matching expert. Given a CV profile and job listing, score the percentage of JOB requirements that the candidate covers (0-100). RULES: Do NOT exclude jobs for having extra requirements — show them with lower scores. matched_skills = requirements the candidate has. missing_skills = requirements the candidate lacks. Spoken Languages (e.g. English, Bulgarian) listed under 'Spoken Languages' in the CV profile are confirmed — do NOT list them as missing_skills. Write the summary in Bulgarian in one sentence.","batching":{"batchSize":1,"delayBetweenBatches":0}}},"id":"d55d2942-0097-4a59-8ee1-80498619f911","name":"Score Job vs CV","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[2768,400]},{"parameters":{"modelName":"models/gemini-3.5-flash","options":{"temperature":0}},"id":"e49cde4c-3bfd-4b94-9c6a-158e0bedd12b","name":"Gemini Flash (Scoring)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[2768,560]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"score","order":"descending"}]},"options":{}},"id":"be774883-1cb0-46bc-b333-4d23d52fd9a1","name":"Sort by Score","type":"n8n-nodes-base.sort","typeVersion":1,"position":[3216,400],"alwaysOutputData":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"jobs","options":{}},"id":"4162e51e-f5a7-4363-9c83-7a75845be987","name":"Aggregate Job Results","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3392,400],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"r-jobs","name":"jobs","value":"={{ ($json.jobs || []).filter(j => j.score >= 30) }}","type":"array"},{"id":"r-total","name":"total","value":"={{ ($json.jobs || []).filter(j => j.score >= 30).length }}","type":"number"},{"id":"r-time","name":"processed_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"r-ok","name":"success","value":true,"type":"boolean"},{"id":"r-ms","name":"processing_time_ms","value":"={{ $now.toMillis() - $('Normalize Input').first().json.workflow_start }}","type":"number"}]},"options":{}},"id":"ba717dab-edc3-4f33-85c7-25dc895b99f2","name":"Build Final Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3584,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"email-cond","leftValue":"={{ $('Build dev.bg Target URL').first().json.user_email }}","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"7acec30e-edee-44ea-82e1-a0c86de5efcf","name":"Email Provided?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3760,400]},{"parameters":{"sendTo":"={{ $('Build dev.bg Target URL').first().json.user_email }}","subject":"={{ \"CV Job Matcher — \" + $(\"Build Final Response\").first().json.total + \" подходящи обяви намерени\" }}","message":"={{ \"<h2>Намерихме \" + $(\"Build Final Response\").first().json.total + \" подходящи обяви!</h2><ul>\" + $(\"Build Final Response\").first().json.jobs.map(function(j) { return \"<li><strong>\" + j.title + \"</strong> — \" + j.company + \"<br>Съвпадение: <b>\" + j.score + \"%</b><br>\" + (j.summary || \"\") + \"<br><a href='\" + j.url + \"'>Виж обявата →</a></li>\"; }).join(\"\") + \"</ul>\" }}","options":{"appendAttribution":false}},"id":"0d57e652-b0bd-4120-a4ae-7ce193d544d3","name":"Send Results Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[3968,272],"webhookId":"782e0508-a7fd-44d1-b441-e13c8e4de2fe","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Final Response').first().json }}","options":{}},"id":"a194bb9f-f8bb-40e1-9740-09d701fabad7","name":"Return Results","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[4128,416]},{"parameters":{"jsCode":"// Index-match scored items with original job data (Information Extractor discards original fields)\nconst scoreItems = $input.all();\nconst originalItems = $('Compose Scoring Input').all();\n\nreturn scoreItems.map((scoreItem, i) => {\n  const scoreData = scoreItem.json.output || {};\n  const jobData = (originalItems[i] || { json: {} }).json;\n\n  return {\n    json: {\n      title: jobData.title || '',\n      company: jobData.company || '',\n      url: jobData.url || '',\n      date_posted: jobData.date_posted || '',\n      location: jobData.location || '',\n      employment_type: jobData.employment_type || '',\n      description: (jobData.description || '').substring(0, 500),\n      score: typeof scoreData.score === 'number' ? scoreData.score : 0,\n      matched_skills: Array.isArray(scoreData.matched_skills) ? scoreData.matched_skills : [],\n      missing_skills: Array.isArray(scoreData.missing_skills) ? scoreData.missing_skills : [],\n      experience_match: scoreData.experience_match === true,\n      summary: scoreData.summary || ''\n    }\n  };\n});"},"id":"254d57b4-c688-4a70-81c9-ce5f7697f27f","name":"Merge Score with Job","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,400]},{"parameters":{"jsCode":"const item = $input.first();\nconst binaryData = item.binary || {};\nconst binaryKeys = Object.keys(binaryData);\n\nif (binaryKeys.length === 0) {\n  return [{ json: { ...item.json, cv_valid: false, error_code: 'NO_FILE', error_message: 'Моля качете CV файл в PDF формат.' } }];\n}\n\nconst pdfField = binaryKeys.find(k => {\n  const b = binaryData[k];\n  return b.fileType === 'pdf' || (b.mimeType && b.mimeType.toLowerCase().includes('pdf'));\n});\n\nif (!pdfField) {\n  const got = binaryData[binaryKeys[0]];\n  const gotType = got.fileExtension || got.mimeType || 'неизвестен';\n  return [{\n    json: { ...item.json, cv_valid: false, error_code: 'WRONG_FORMAT', error_message: `Само PDF файлове се поддържат. Получен формат: ${gotType}.` },\n    binary: binaryData\n  }];\n}\n\nreturn [{\n  json: { ...item.json, cv_valid: true, binary_field: pdfField },\n  binary: binaryData\n}];"},"id":"d54b5851-344d-42df-98a5-0abba64b9757","name":"Validate CV File","type":"n8n-nodes-base.code","typeVersion":2,"position":[352,384]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"valid-check","leftValue":"={{ $json.cv_valid }}","operator":{"type":"boolean","operation":"true"},"rightValue":""}]},"options":{}},"id":"89705b31-eeed-4250-b807-06b5b6b7af58","name":"Input Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,384]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: $json.error_code, message: $json.error_message } }}","options":{"responseCode":400}},"id":"f81a44f2-6069-4aad-af5a-cce61f5273c6","name":"Error: Invalid CV","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[800,400]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"text-len-check","leftValue":"={{ ($json.text || '').length }}","operator":{"type":"number","operation":"gte"},"rightValue":200}]},"options":{}},"id":"31427831-e78e-4d91-b7a0-63537ce97428","name":"CV Text Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,560]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: 'UNREADABLE_CV', message: 'Не можахме да прочетем CV-то. Уверете се, че PDF файлът съдържа текст, а не е сканирано изображение.' } }}","options":{"responseCode":400}},"id":"b0ce1903-a517-4ee3-afe1-166309cc84b0","name":"Error: Cannot Read CV","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[800,576]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"jobs-count-check","leftValue":"={{ ($json.output?.jobs || []).length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}]},"options":{}},"id":"3dabc55d-a9cc-4e86-813a-5a29cc6ae5d5","name":"Jobs Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2048,416]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, jobs: [], total: 0, processed_at: $now.toISO(), message: 'Не намерихме обяви, отговарящи на критериите. Опитайте с по-широки предпочитания или по-голям брой дни.' } }}","options":{"responseCode":200}},"id":"cbcefd20-4fcc-439d-a722-8424e75a6799","name":"Return Empty Results","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2160,576]},{"parameters":{"jsCode":"const item = $input.first();\nconst jobs = (item.json.output?.jobs || []);\nconst daysBack = $('Build dev.bg Target URL').first().json.days_back || 5;\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - daysBack);\n\nconst jobsFiltered = jobs.filter(job => {\n  if (!job.date_posted) return true;\n  return new Date(job.date_posted) >= cutoff;\n});\n\nreturn [{ json: { output: { jobs: jobsFiltered } } }];"},"id":"eb493a44-fb69-476a-a41c-d71bffb6146d","name":"Assign Job URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,128]},{"parameters":{"jsCode":"const item = $input.first();\nconst html = item.json.data || '';\nconst baseUrl = $('Build dev.bg Target URL').first().json.scrape_url;\n\nconst countMatch = html.match(/\\((\\d+)\\s+нови\\)/);\nconst count = countMatch ? parseInt(countMatch[1]) : 20;\nconst totalPages = Math.min(Math.ceil(count / 20), 3);\n\nconst extraUrls = [];\nfor (let p = 2; p <= totalPages; p++) {\n  const sep = baseUrl.includes('?') ? '&' : '?';\n  extraUrls.push(baseUrl + sep + '_paged=' + p);\n}\n\nconst page1Jobs = parseJobsFromHtml(html);\n\nfunction decodeHtmlEntities(str) {\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction parseJobsFromHtml(html) {\n  const jobs = [];\n  const blocks = html.split('<div class=\"job-list-item');\n  blocks.shift();\n  for (const block of blocks) {\n    const urlMatch = block.match(/href=\"(https:\\/\\/dev\\.bg\\/company\\/jobads\\/[^\"]+)\"/);\n    if (!urlMatch) continue;\n    const url = urlMatch[1];\n    const titleMatch = block.match(/class=\"job-title[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/h6>/);\n    const title = titleMatch ? decodeHtmlEntities(titleMatch[1].trim()) : '';\n    if (!title) continue;\n    const companyMatch = block.match(/class=\"company-name[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const company = companyMatch ? decodeHtmlEntities(companyMatch[1].trim()) : '';\n    const dateMatch = block.match(/class=\"date[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n    const date_posted = convertBgDate(dateRaw);\n    const isRemote = /class=\"badge[^\"]*remote[^\"]*\"/.test(block);\n    const isHybrid = /class=\"badge[^\"]*hybrid[^\"]*\"/.test(block);\n    let location = 'Bulgaria';\n    if (isRemote) location = 'Remote';\n    else if (isHybrid) location = 'Hybrid';\n    const techMatches = [...block.matchAll(/<img[^>]+title=\"([^\"]+)\"[^>]*>/g)];\n    const techStack = [...new Set(techMatches.map(m => m[1]).filter(t => t && !t.toLowerCase().includes('icon') && t.length > 1))];\n    jobs.push({ title, company, url, date_posted, location, employment_type: 'Full-time', description: techStack.length > 0 ? 'Tech stack: ' + techStack.join(', ') : '' });\n  }\n  return jobs;\n}\n\nfunction convertBgDate(dateStr) {\n  const months = { 'яну': 1, 'фев': 2, 'мар': 3, 'апр': 4, 'май': 5, 'юни': 6, 'юли': 7, 'авг': 8, 'сеп': 9, 'окт': 10, 'ное': 11, 'дек': 12 };\n  const match = dateStr.match(/(\\d+)\\s+(\\S+)/);\n  if (!match) return new Date().toISOString().split('T')[0];\n  const day = parseInt(match[1]);\n  const monthKey = match[2].toLowerCase().substring(0, 3);\n  const month = months[monthKey] || (new Date().getMonth() + 1);\n  const year = new Date().getFullYear();\n  return `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\n\nreturn [{ json: { page1_jobs: page1Jobs, extra_urls: extraUrls, total_count: count, total_pages: totalPages } }];"},"id":"c9c4f353-e7f2-4caf-919b-81b0b9460313","name":"Parse Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,112]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"more-pages-check","leftValue":"={{ $json.extra_urls.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}]},"options":{}},"id":"5787502f-bdaf-4e8a-85b4-93fea7d8b4c4","name":"More Pages?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,112]},{"parameters":{"fieldToSplitOut":"extra_urls","options":{"destinationFieldName":"extra_url"}},"id":"c991ade5-e495-4fe2-8e0a-a4f6feaf9d08","name":"Split Extra URLs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1744,-48]},{"parameters":{"url":"={{ $json.extra_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"227109b3-afe5-4de1-9d59-455524090385","name":"Fetch Extra Pages","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,-48]},{"parameters":{"jsCode":"const page1Jobs = $('Parse Count').first().json.page1_jobs || [];\nconst extraItems = $input.all();\nlet allJobs = [...page1Jobs];\n\nfunction decodeHtmlEntities(str) {\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction parseJobsFromHtml(html) {\n  const jobs = [];\n  const blocks = html.split('<div class=\"job-list-item');\n  blocks.shift();\n  for (const block of blocks) {\n    const urlMatch = block.match(/href=\"(https:\\/\\/dev\\.bg\\/company\\/jobads\\/[^\"]+)\"/);\n    if (!urlMatch) continue;\n    const url = urlMatch[1];\n    const titleMatch = block.match(/class=\"job-title[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/h6>/);\n    const title = titleMatch ? decodeHtmlEntities(titleMatch[1].trim()) : '';\n    if (!title) continue;\n    const companyMatch = block.match(/class=\"company-name[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const company = companyMatch ? decodeHtmlEntities(companyMatch[1].trim()) : '';\n    const dateMatch = block.match(/class=\"date[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n    const date_posted = convertBgDate(dateRaw);\n    const isRemote = /class=\"badge[^\"]*remote[^\"]*\"/.test(block);\n    const isHybrid = /class=\"badge[^\"]*hybrid[^\"]*\"/.test(block);\n    let location = 'Bulgaria';\n    if (isRemote) location = 'Remote';\n    else if (isHybrid) location = 'Hybrid';\n    const techMatches = [...block.matchAll(/<img[^>]+title=\"([^\"]+)\"[^>]*>/g)];\n    const techStack = [...new Set(techMatches.map(m => m[1]).filter(t => t && !t.toLowerCase().includes('icon') && t.length > 1))];\n    jobs.push({ title, company, url, date_posted, location, employment_type: 'Full-time', description: techStack.length > 0 ? 'Tech stack: ' + techStack.join(', ') : '' });\n  }\n  return jobs;\n}\n\nfunction convertBgDate(dateStr) {\n  const months = { 'яну': 1, 'фев': 2, 'мар': 3, 'апр': 4, 'май': 5, 'юни': 6, 'юли': 7, 'авг': 8, 'сеп': 9, 'окт': 10, 'ное': 11, 'дек': 12 };\n  const match = dateStr.match(/(\\d+)\\s+(\\S+)/);\n  if (!match) return new Date().toISOString().split('T')[0];\n  const day = parseInt(match[1]);\n  const monthKey = match[2].toLowerCase().substring(0, 3);\n  const month = months[monthKey] || (new Date().getMonth() + 1);\n  const year = new Date().getFullYear();\n  return `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\n\nfor (const item of extraItems) {\n  const html = item.json.data || '';\n  if (html) allJobs = allJobs.concat(parseJobsFromHtml(html));\n}\n\nreturn [{ json: { jobs: allJobs } }];"},"id":"1be53666-b7ff-4a35-bd39-53e33b92b22c","name":"Merge All Pages","type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,-48]},{"parameters":{"jsCode":"const jobs = $('Parse Count').first().json.page1_jobs || [];\nreturn [{ json: { jobs } }];"},"id":"9a7ec05c-353d-4267-8465-b8ac4f08cf1f","name":"Page 1 Only","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,128]},{"parameters":{"jsCode":"return [$input.first()];"},"id":"034530c6-650d-41cd-bf5e-6a98d5673001","name":"Combined Scrape","type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,128]},{"parameters":{"jsCode":"const jobs = $input.first().json.jobs || [];\nreturn [{ json: { output: { jobs } } }];"},"id":"50d4eda0-0da4-4132-a454-a8a15e2496e2","name":"Extract Job Listings","type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,128]}],"connections":{"Receive CV Upload":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Parse CV Profile":{"main":[[{"node":"Build dev.bg Target URL","type":"main","index":0}]]},"Gemini Flash (CV Parse)":{"ai_languageModel":[[{"node":"Parse CV Profile","type":"ai_languageModel","index":0}]]},"Build dev.bg Target URL":{"main":[[{"node":"Fetch dev.bg","type":"main","index":0}]]},"Compose Scoring Input":{"main":[[{"node":"Score Job vs CV","type":"main","index":0}]]},"Gemini Flash (Scoring)":{"ai_languageModel":[[{"node":"Score Job vs CV","type":"ai_languageModel","index":0}]]},"Sort by Score":{"main":[[{"node":"Aggregate Job Results","type":"main","index":0}]]},"Aggregate Job Results":{"main":[[{"node":"Build Final Response","type":"main","index":0}]]},"Build Final Response":{"main":[[{"node":"Email Provided?","type":"main","index":0}]]},"Email Provided?":{"main":[[{"node":"Send Results Email","type":"main","index":0}],[{"node":"Return Results","type":"main","index":0}]]},"Send Results Email":{"main":[[{"node":"Return Results","type":"main","index":0}]]},"Score Job vs CV":{"main":[[{"node":"Merge Score with Job","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Validate CV File","type":"main","index":0}]]},"Validate CV File":{"main":[[{"node":"Input Valid?","type":"main","index":0}]]},"Input Valid?":{"main":[[{"node":"Extract CV Text","type":"main","index":0}],[{"node":"Error: Invalid CV","type":"main","index":0}]]},"Extract CV Text":{"main":[[{"node":"CV Text Valid?","type":"main","index":0}]]},"CV Text Valid?":{"main":[[{"node":"Parse CV Profile","type":"main","index":0}],[{"node":"Error: Cannot Read CV","type":"main","index":0}]]},"Jobs Found?":{"main":[[{"node":"Split Jobs Into Items","type":"main","index":0}],[{"node":"Return Empty Results","type":"main","index":0}]]},"Merge Score with Job":{"main":[[{"node":"Sort by Score","type":"main","index":0}]]},"Assign Job URLs":{"main":[[{"node":"Jobs Found?","type":"main","index":0}]]},"Split Jobs Into Items":{"main":[[{"node":"Limit: Max 20 Jobs","type":"main","index":0}]]},"Parse Count":{"main":[[{"node":"More Pages?","type":"main","index":0}]]},"More Pages?":{"main":[[{"node":"Split Extra URLs","type":"main","index":0}],[{"node":"Page 1 Only","type":"main","index":0}]]},"Split Extra URLs":{"main":[[{"node":"Fetch Extra Pages","type":"main","index":0}]]},"Merge All Pages":{"main":[[{"node":"Combined Scrape","type":"main","index":0}]]},"Page 1 Only":{"main":[[{"node":"Combined Scrape","type":"main","index":0}]]},"Limit: Max 20 Jobs":{"main":[[{"node":"Compose Scoring Input","type":"main","index":0}]]},"Combined Scrape":{"main":[[{"node":"Extract Job Listings","type":"main","index":0}]]},"Extract Job Listings":{"main":[[{"node":"Assign Job URLs","type":"main","index":0}]]},"Fetch dev.bg":{"main":[[{"node":"Parse Count","type":"main","index":0}]]},"Fetch Extra Pages":{"main":[[{"node":"Merge All Pages","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"parentFolderId":null,"description":"CV Job Matcher — scrapes dev.bg job listings, parses CV with AI, scores each job vs. the candidate profile, and returns ranked results with match percentages.","scopes":["execution:reveal","workflow:create","workflow:delete","workflow:disableRedaction","workflow:enableRedaction","workflow:execute","workflow:execute-chat","workflow:export","workflow:import","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Receive CV Upload\n\t\t\t\t\t - Base URL: http://localhost:5678/\n\t\t\t\t\t - Production path: /webhook/cv-job-matcher\n\t\t\t\t\t - Test path: /webhook-test/cv-job-matcher\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}