n8n/workflow.json
{
  "name": "CV Job Matcher — dev.bg",
  "description": "CV Job Matcher — scrapes dev.bg job listings, parses CV with AI, scores each job vs. the candidate profile, and returns ranked results with match percentages.",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-job-matcher",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "56592bed-a457-4f7c-a89a-d109fa941ac0",
      "name": "Receive CV Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        112
      ],
      "webhookId": "0a020a74-8fb9-46c0-b12f-a06144d71de8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n-loc",
              "name": "location",
              "type": "string",
              "value": "={{ $json.body?.location ?? $json.location ?? \"Remote\" }}"
            },
            {
              "id": "n-lang",
              "name": "language",
              "type": "string",
              "value": "={{ $json.body?.language ?? $json.language ?? \"И двата\" }}"
            },
            {
              "id": "n-email",
              "name": "user_email",
              "type": "string",
              "value": "={{ $json.body?.email ?? $json.email ?? \"\" }}"
            },
            {
              "id": "n-days",
              "name": "days_back",
              "type": "number",
              "value": "={{ Math.min(Number($json.body?.days_back ?? $json.days_back ?? 7), 21) }}"
            },
            {
              "id": "n-start",
              "name": "workflow_start",
              "type": "number",
              "value": "={{ $now.toMillis() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "142060ff-df66-4932-927a-83982ad18005",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        112
      ]
    },
    {
      "parameters": {
        "text": "={{ 'Current date: ' + $now.toFormat('yyyy-MM-dd') + '\\n\\n===== CANDIDATE CV =====\\n' + $json.text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"skills\": [\"JavaScript\", \"Node.js\", \"PostgreSQL\"], \"programming_languages\": [\"JavaScript\", \"Python\"], \"primary_languages\": [\"JavaScript\"], \"frameworks\": [\"Express\", \"React\"], \"primary_stack\": [\"JavaScript\", \"Node.js\", \"React\"], \"tools\": [\"Docker\", \"Git\", \"AWS\"], \"spoken_languages\": [\"English\", \"Bulgarian\"], \"experience_level\": \"Mid\", \"job_type\": \"Backend\", \"years_of_experience\": 4, \"job_titles\": [\"Backend Developer\", \"Software Engineer\"]}",
        "options": {
          "systemPromptTemplate": "You are a careful CV analyst. Read the entire CV text thoroughly from beginning to end before extracting anything. Do not rush - accuracy matters.\n\nExtract the following fields:\n\nskills - ALL non-technical competencies and methodologies relevant to software development (e.g. Responsive Design, REST APIs, Clean architecture, Agile, Code review, Team leadership). Include only skills applicable to software roles. Do NOT include skills from unrelated non-technical positions. Do NOT put programming languages, frameworks or tools here.\n\nprogramming_languages - ALL programming and scripting languages found anywhere in the CV (e.g. JavaScript, TypeScript, Python, SQL, HTML, CSS, SCSS). Include markup and stylesheet languages.\n\nprimary_languages - the SUBSET of programming_languages the candidate has actually USED in professional work experience. Judge from the employment / work-history section and job titles (e.g. a role titled \"Java Developer\", or several years building in a language). EXCLUDE languages only listed as \"familiar with\", or appearing solely in a skills list with no backing work experience. If genuinely unsure, include the languages tied to the candidate's main roles.\n\nframeworks - ALL frameworks, libraries and runtimes (e.g. Angular, React, Node.js, RxJS, Spring Boot, .NET, Express). Include even those mentioned briefly.\n\nprimary_stack - the 3 to 5 technologies that BEST DEFINE what the candidate builds with, judged from their WORK HISTORY and MOST RECENT roles (not from a bare skills list). Pick the languages, frameworks or defining tools most central to their engineering. Rules: (1) Weight recent and long-held experience most. If the candidate has worked substantially in more than one direction (e.g. both Angular and React), choose the DOMINANT / most-recent one; include both only if both are genuinely core to recent work. (2) Role-agnostic - for a Backend dev these are backend languages/frameworks (e.g. Java, Spring, PostgreSQL); for a Frontend dev the main FE stack (e.g. TypeScript, React, Next.js); for a QA the main testing frameworks/tools plus language (e.g. Java, Selenium, Cypress, Playwright); for Fullstack the dominant end. (3) EXCLUDE markup/styling and ubiquitous tech: HTML, CSS, SCSS, SASS, LESS, Tailwind, Bootstrap, jQuery, Git. (4) Order by centrality, most defining first.\n\ntools - ALL tools, platforms, services and databases (e.g. Git, Docker, Jira, Figma, AWS, PostgreSQL, Azure, Webpack). Include anything mentioned in a tools or tech stack section.\n\nspoken_languages - ALL human languages mentioned anywhere in the CV, including those with a proficiency level (e.g. English B2, Bulgarian native). Never omit these.\n\nexperience_level - infer from total years of relevant technical professional experience: Junior = 0-2 years, Mid = 2-5 years, Senior = 5-10 years, Lead = 10+ years.\n\nyears_of_experience - total years of professional software/technical experience, computed STRICTLY: (1) for each tech/software role take its duration from its start date to its end date; for a current/ongoing role use the Current date given at the top of the input. (2) Count internships, part-time, freelance and student jobs at HALF their duration. (3) If two or more roles OVERLAP in time, count the overlapping period only ONCE - never sum concurrent roles. (4) Do NOT count non-technical roles (e.g. waiter, teacher, sales) or education/study time. (5) Sum the durations, then ROUND DOWN to a whole integer. If dates are missing or unclear, make a conservative estimate and round down. Output that integer.\n\njob_titles - all professional titles held, taken from the work history section.\n\nImportant: be exhaustive. If something appears only once in the CV it still counts. Read every section including summaries, project descriptions and tech stack lists before finalising your output."
        }
      },
      "id": "c2ea4037-65b5-45a9-8824-a0dc63b59bfb",
      "name": "Parse CV Profile",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        784,
        112
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const cvProfile = $input.first().json.output;\nconst prefs = $('Normalize Input').first().json;\n\nconst urlMap = {\n  'Backend':  'https://dev.bg/company/jobs/back-end-development/',\n  'Frontend': 'https://dev.bg/company/jobs/front-end-development/',\n  'Fullstack': 'https://dev.bg/company/jobs/full-stack-development/',\n  'QA':       'https://dev.bg/company/jobs/quality-assurance/',\n  'Mobile':   'https://dev.bg/company/jobs/mobile/',\n  'DevOps':   'https://dev.bg/company/jobs/infrastructure/',\n  'Data':     'https://dev.bg/company/jobs/data-science-and-analytics/'\n};\n\nconst categoryMap = {\n  'Backend':  ['Backend', 'Fullstack'],\n  'Frontend': ['Frontend', 'Fullstack'],\n  'Fullstack': ['Backend', 'Frontend', 'Fullstack'],\n  'QA':       ['QA'],\n  'Mobile':   ['Mobile'],\n  'DevOps':   ['DevOps'],\n  'Data':     ['Data']\n};\n\nconst locationMap = {\n  'Remote':       'remote',\n  'София':        'sofiya',\n  'Пловдив':      'plovdiv',\n  'Варна':        'varna',\n  'Бургас':       'burgas',\n  'Русе':         'ruse',\n  'Стара Загора': 'stara-zagora'\n};\n\n// The extractor's job_type SHOULD be one of our canonical categories, but the LLM sometimes\n// free-forms it (e.g. \"Full-Stack Web Developer\" instead of \"Fullstack\"). Normalize to a known\n// category so we never build an \"undefined\" scrape URL (which silently returns zero jobs).\nfunction normalizeJobType(raw){\n  const t = String(raw || '').toLowerCase();\n  if (/full[\\s-]?stack/.test(t)) return 'Fullstack';\n  if (/front[\\s-]?end/.test(t)) return 'Frontend';\n  if (/back[\\s-]?end/.test(t)) return 'Backend';\n  if (/\\bqa\\b|quality|tester|testing/.test(t)) return 'QA';\n  if (/mobile|android|\\bios\\b|flutter|react native/.test(t)) return 'Mobile';\n  if (/devops|\\bsre\\b|infrastructure|platform eng/.test(t)) return 'DevOps';\n  if (/data (scien|eng|analy)|analytic|machine learning|\\bml\\b/.test(t)) return 'Data';\n  const known = ['Backend','Frontend','Fullstack','QA','Mobile','DevOps','Data'];\n  return known.find(k => k.toLowerCase() === t) || 'Backend';\n}\nconst jobType = normalizeJobType(cvProfile?.job_type);\nconst categories = categoryMap[jobType] || [jobType];\nconst locationSlug = locationMap[prefs.location];\n\nconst cvProfileData = {\n  skills:                cvProfile?.skills || [],\n  programming_languages: cvProfile?.programming_languages || [],\n  primary_languages:     cvProfile?.primary_languages || [],\n  primary_stack:         cvProfile?.primary_stack || [],\n  frameworks:            cvProfile?.frameworks || [],\n  tools:                 cvProfile?.tools || [],\n  spoken_languages:      cvProfile?.spoken_languages || [],\n  experience_level:      cvProfile?.experience_level || 'Mid',\n  job_type:              jobType,\n  years_of_experience:   cvProfile?.years_of_experience || 0,\n  job_titles:            cvProfile?.job_titles || []\n};\n\n// One page-1 URL per category. Pagination (fetching the remaining pages) is handled in\n// \"Parse & Merge Categories\", which reads the real page count from each page-1 HTML.\nreturn categories.map(cat => {\n  const baseUrl = urlMap[cat];\n  const scrapeUrl = locationSlug\n    ? baseUrl + '?_job_location=' + encodeURIComponent(locationSlug)\n    : baseUrl;\n  return {\n    json: {\n      cv_profile:  cvProfileData,\n      scrape_url:  scrapeUrl,\n      category:    cat,\n      location:    prefs.location,\n      language:    prefs.language,\n      user_email:  prefs.user_email,\n      days_back:   prefs.days_back || 5\n    }\n  };\n});\n"
      },
      "id": "9f14d416-5abc-40e5-9ad8-167f91a13947",
      "name": "Build dev.bg Target URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.scrape_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "dbf87784-e8a6-4f34-88d0-311f01ca1eda",
      "name": "Fetch dev.bg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        112
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "={{ $json.summary_text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"summaries\": [{\"job_index\": 1, \"summary\": \"Силно съвпадение по Java и Spring, липсва Kubernetes.\"}]}",
        "options": {
          "systemPromptTemplate": "You write concise Bulgarian one-sentence summaries for CV-to-job matches. For each job you are given its already-computed matched skills, missing skills, score, and experience match. Write ONE natural Bulgarian sentence per job that highlights the key technical strength and the main gap. Use ONLY the skills given to you — never invent or add skills. Echo each job's job_index exactly. Return exactly one entry per job, in order."
        }
      },
      "id": "d55d2942-0097-4a59-8ee1-80498619f911",
      "name": "Score All Jobs (Batch)",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1712,
        464
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "be774883-1cb0-46bc-b333-4d23d52fd9a1",
      "name": "Sort by Score",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2176,
        464
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "jobs",
        "options": {}
      },
      "id": "4162e51e-f5a7-4363-9c83-7a75845be987",
      "name": "Aggregate Job Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2336,
        464
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r-jobs",
              "name": "jobs",
              "type": "array",
              "value": "={{ ($('Analyze CV Gaps').first().json.jobs || []).filter(j => j.score >= $('Analyze CV Gaps').first().json.stats.threshold) }}"
            },
            {
              "id": "r-total",
              "name": "total",
              "type": "number",
              "value": "={{ $('Analyze CV Gaps').first().json.stats.matched }}"
            },
            {
              "id": "r-stats",
              "name": "stats",
              "type": "object",
              "value": "={{ $('Analyze CV Gaps').first().json.stats }}"
            },
            {
              "id": "r-review",
              "name": "cv_review",
              "type": "object",
              "value": "={{ { market_gaps: ($('Analyze CV Gaps').first().json.market_gaps || []), tips: (($('CV Tips').first().json.output) || {}).tips || [] } }}"
            },
            {
              "id": "r-time",
              "name": "processed_at",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "id": "r-ok",
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "r-ms",
              "name": "processing_time_ms",
              "type": "number",
              "value": "={{ $now.toMillis() - $('Normalize Input').first().json.workflow_start }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba717dab-edc3-4f33-85c7-25dc895b99f2",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "email-cond",
              "leftValue": "={{ $('Build dev.bg Target URL').first().json.user_email }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7acec30e-edee-44ea-82e1-a0c86de5efcf",
      "name": "Email Provided?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3504,
        464
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Build Final Response').first().json }}",
        "options": {}
      },
      "id": "a194bb9f-f8bb-40e1-9740-09d701fabad7",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3696,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary || {};\nconst binaryKeys = Object.keys(binaryData);\n\nif (binaryKeys.length === 0) {\n  return [{ json: { ...item.json, cv_valid: false, error_code: 'NO_FILE', error_message: 'Моля качете CV файл в PDF формат.' } }];\n}\n\nconst pdfField = binaryKeys.find(k => {\n  const b = binaryData[k];\n  return b.fileType === 'pdf' || (b.mimeType && b.mimeType.toLowerCase().includes('pdf'));\n});\n\nif (!pdfField) {\n  const got = binaryData[binaryKeys[0]];\n  const gotType = got.fileExtension || got.mimeType || 'неизвестен';\n  return [{\n    json: { ...item.json, cv_valid: false, error_code: 'WRONG_FORMAT', error_message: `Само PDF файлове се поддържат. Файлът е в ${gotType} формат — моля конвертирайте до PDF.` },\n    binary: binaryData\n  }];\n}\n\nreturn [{\n  json: { ...item.json, cv_valid: true, binary_field: pdfField },\n  binary: binaryData\n}];"
      },
      "id": "d54b5851-344d-42df-98a5-0abba64b9757",
      "name": "Validate CV File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.cv_valid }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "89705b31-eeed-4250-b807-06b5b6b7af58",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error_code, message: $json.error_message } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f81a44f2-6069-4aad-af5a-cce61f5273c6",
      "name": "Error: Invalid CV",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "text-len-check",
              "leftValue": "={{ ($json.text || '').length }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "rightValue": 200
            }
          ]
        },
        "options": {}
      },
      "id": "31427831-e78e-4d91-b7a0-63537ce97428",
      "name": "CV Text Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        464
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'UNREADABLE_CV', message: 'Не можахме да прочетем CV-то. Уверете се, че PDF файлът съдържа текст, а не е сканирано изображение.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b0ce1903-a517-4ee3-afe1-166309cc84b0",
      "name": "Error: Cannot Read CV",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "jobs-count-check",
              "leftValue": "={{ ($json.output?.jobs || []).length }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "3dabc55d-a9cc-4e86-813a-5a29cc6ae5d5",
      "name": "Jobs Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, jobs: [], total: 0, processed_at: $now.toISO(), message: 'Не намерихме обяви, отговарящи на критериите. Опитайте с по-широки предпочитания или по-голям брой дни.' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cbcefd20-4fcc-439d-a722-8424e75a6799",
      "name": "Return Empty Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2016,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst jobs = (item.json.output?.jobs || []);\nconst daysBack = $('Build dev.bg Target URL').first().json.days_back || 5;\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - daysBack);\n\nconst jobsFiltered = jobs.filter(job => {\n  if (!job.date_posted) return true;\n  return new Date(job.date_posted) >= cutoff;\n});\n\nreturn [{ json: { output: { jobs: jobsFiltered } } }];"
      },
      "id": "eb493a44-fb69-476a-a41c-d71bffb6146d",
      "name": "Assign Job URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst jobs = (item.json.jobs || []).slice(0, 40);\nconst cv = $('Build dev.bg Target URL').first().json.cv_profile;\n\nconst cvSection = '=== CV PROFILE ===\\n' +\n  'Skills: ' + cv.skills.join(', ') + '\\n' +\n  'Programming Languages: ' + cv.programming_languages.join(', ') + '\\n' +\n  'Frameworks: ' + cv.frameworks.join(', ') + '\\n' +\n  'Tools: ' + cv.tools.join(', ') + '\\n' +\n  'Spoken Languages: ' + cv.spoken_languages.join(', ') + '\\n' +\n  'Experience Level: ' + cv.experience_level + '\\n' +\n  'Years of Experience: ' + cv.years_of_experience + '\\n' +\n  'Previous Roles: ' + cv.job_titles.join(', ');\n\nconst jobsSection = jobs.map((job, i) =>\n  '--- JOB ' + (i + 1) + ' ---\\n' +\n  'Title: ' + job.title + '\\n' +\n  'Company: ' + job.company + '\\n' +\n  'Location: ' + job.location + '\\n' +\n  'Type: ' + job.employment_type + '\\n' +\n  'Description: ' + (job.full_description || job.description || 'N/A')\n).join('\\n\\n');\n\nconst scoring_text = cvSection + '\\n\\n=== JOB LISTINGS (' + jobs.length + ' total) ===\\n\\n' + jobsSection + '\\n\\nReturn a JSON results array with exactly ' + jobs.length + ' entries, one per job in order.';\n\nconst jobs_text = '=== JOB LISTINGS (' + jobs.length + ' total) ===\\n\\n' + jobs.map((job, i) =>\n  '--- JOB ' + (i + 1) + ' ---\\n' +\n  'Title: ' + job.title + '\\n' +\n  'Company: ' + job.company + '\\n' +\n  'Description: ' + (job.full_description || job.description || 'N/A')\n).join('\\n\\n') + '\\n\\nReturn a JSON requirements array with exactly ' + jobs.length + ' entries, one per job in order.';\n\nreturn [{ json: { scoring_text, jobs, jobs_text, cv_profile: cv } }];"
      },
      "id": "814048ab-2460-4101-af99-d9141ac17e63",
      "name": "Prepare Batch Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const summaries = (($input.first().json.output) || {}).summaries || [];\nconst scored = $('Build Scoring Input').first().json.scored || [];\nconst jobs = $('Prepare Batch Input').first().json.jobs || [];\nconst cv = $('Prepare Batch Input').first().json.cv_profile || {};\nconst requirements = (($('Extract Job Requirements').first().json.output) || {}).requirements || [];\n\nfunction levelRank(s){\n  const t = ' ' + (s||'').toLowerCase() + ' ';\n  if (t.includes('lead')||t.includes('principal')||t.includes('staff')||t.includes('chief')||t.includes('architect')||t.includes('head of')) return 4;\n  if (t.includes('senior')||t.includes('sr.')||t.includes('sr ')) return 3;\n  if (t.includes('middle')||t.includes('mid-')||t.includes('mid ')||t.includes('intermediate')||t.includes('regular')) return 2;\n  if (t.includes('junior')||t.includes('jr.')||t.includes('jr ')||t.includes('entry')||t.includes('graduate')||t.includes('trainee')||t.includes('intern')) return 1;\n  return 0;\n}\nconst candidateRank = levelRank(cv.experience_level);\n\nconst sumByIndex = {};\nfor (const s of summaries){ if (s && s.job_index != null) sumByIndex[s.job_index] = s.summary; }\nconst scoredByIndex = {};\nfor (const s of scored){ scoredByIndex[s.job_index] = s; }\n\nconst out = [];\njobs.forEach((job, i) => {\n  const idx = i + 1;\n  const sc = scoredByIndex[idx] || {};\n  const req = requirements[i] || {};\n\n  const jobRank = Math.max(levelRank(req.experience_level), levelRank(job.title));\n  const overqualified = candidateRank > 0 && jobRank > 0 && (candidateRank - jobRank >= 2);\n  if (overqualified) return;\n\n  const matched = Array.isArray(sc.matched_skills) ? sc.matched_skills : [];\n  const missing = Array.isArray(sc.missing_skills) ? sc.missing_skills : [];\n  let summary = sumByIndex[idx];\n  if (!summary || !String(summary).trim()) {\n    summary = matched.length\n      ? 'Съвпадение по: ' + matched.slice(0,3).join(', ') + '.'\n      : 'Слабо съвпадение с изискванията.';\n  }\n\n  out.push({ json: {\n    title:            job.title || '',\n    company:          job.company || '',\n    url:              job.url || '',\n    date_posted:      job.date_posted || '',\n    location:         job.location || '',\n    employment_type:  job.employment_type || '',\n    description:      (job.description || '').substring(0, 500),\n    score:            typeof sc.score === 'number' ? sc.score : 0,\n    matched_skills:   matched,\n    missing_skills:   missing,\n    experience_match: sc.experience_match === true,\n    main_stack:       Array.isArray(sc.main_stack) ? sc.main_stack : [],\n    main_alt:         sc.main_alt || '',\n    summary:          summary,\n    source:           job.source || 'dev.bg'\n  }});\n});\n\nreturn out;\n"
      },
      "id": "a63fc224-f1b0-4d36-8793-c8b011dd54b4",
      "name": "Unpack Batch Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        464
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.jobs",
        "options": {}
      },
      "id": "847f7a52-92c0-463c-86ae-bfc2f7ced572",
      "name": "Split Jobs for Fetch",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2224,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3002/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer local"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({url: $json.url, formats: ['markdown'], onlyMainContent: true, includeTags: ['div.job_description']}) }}",
        "options": {}
      },
      "id": "5fbd750a-dc4f-4223-bb25-596cff099069",
      "name": "Fetch Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $input.all();\nconst splitItems = $('Split Jobs for Fetch').all();\n\nreturn httpItems.map((item, i) => {\n  const markdown = (item.json.data && item.json.data.markdown || '').substring(0, 4000);\n  const originalJob = (splitItems[i] && splitItems[i].json) || {};\n\n  return { json: {\n    title: originalJob.title || '',\n    company: originalJob.company || '',\n    url: originalJob.url || '',\n    date_posted: originalJob.date_posted || '',\n    location: originalJob.location || '',\n    employment_type: originalJob.employment_type || '',\n    description: originalJob.description || '',\n    full_description: markdown || originalJob.description || ''\n  }};\n});"
      },
      "id": "d5d1e9d5-671d-432f-bc69-b123b840f705",
      "name": "Parse Job Description",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        96
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "jobs",
        "options": {}
      },
      "id": "6253f2ca-52df-45a3-b507-fd359c953641",
      "name": "Aggregate Fetched Jobs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2736,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parses dev.bg listing pages into job objects AND paginates: for each category's page 1\n// (received as input) it reads the real last-page number from the FacetWP pager embedded in\n// the HTML, then fetches the remaining pages itself. Count-driven — no wasted requests.\n// Pagination is wrapped in try/catch so a failed page (or an environment without\n// this.helpers.httpRequest) degrades gracefully to whatever pages we already have.\nconst allItems = $input.all();\nconst builtUrls = $('Build dev.bg Target URL').all();\nconst allJobs = [];\nconst seenUrls = new Set();\nconst UA = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36';\nconst MAX_PAGES = 10;\n\nfunction decodeHtmlEntities(str) {\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction convertBgDate(dateStr) {\n  const months = { 'яну': 1, 'фев': 2, 'мар': 3, 'апр': 4, 'май': 5, 'юни': 6, 'юли': 7, 'авг': 8, 'сеп': 9, 'окт': 10, 'ное': 11, 'дек': 12 };\n  const match = dateStr.match(/(\\d+)\\s+(\\S+)/);\n  if (!match) return new Date().toISOString().split('T')[0];\n  const day = parseInt(match[1]);\n  const monthKey = match[2].toLowerCase().substring(0, 3);\n  const month = months[monthKey] || (new Date().getMonth() + 1);\n  const year = new Date().getFullYear();\n  return `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\n\nfunction parseJobsFromHtml(html) {\n  const jobs = [];\n  const blocks = html.split('<div class=\"job-list-item');\n  blocks.shift();\n  for (const block of blocks) {\n    const urlMatch = block.match(/href=\"(https:\\/\\/dev\\.bg\\/company\\/jobads\\/[^\"]+)\"/);\n    if (!urlMatch) continue;\n    const url = urlMatch[1];\n    const titleMatch = block.match(/class=\"job-title[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/h6>/);\n    const title = titleMatch ? decodeHtmlEntities(titleMatch[1].trim()) : '';\n    if (!title) continue;\n    const companyMatch = block.match(/class=\"company-name[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const company = companyMatch ? decodeHtmlEntities(companyMatch[1].trim()) : '';\n    const dateMatch = block.match(/class=\"date[^\"]*\"[^>]*>\\s*([^<]+?)\\s*<\\/span>/);\n    const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n    const date_posted = convertBgDate(dateRaw);\n    const isRemote = /class=\"badge[^\"]*remote[^\"]*\"/.test(block);\n    const isHybrid = /class=\"badge[^\"]*hybrid[^\"]*\"/.test(block);\n    let location = 'Bulgaria';\n    if (isRemote) location = 'Remote';\n    else if (isHybrid) location = 'Hybrid';\n    const techMatches = [...block.matchAll(/<img[^>]+title=\"([^\"]+)\"[^>]*>/g)];\n    const techStack = [...new Set(techMatches.map(m => m[1]).filter(t => t && !t.toLowerCase().includes('icon') && t.length > 1))];\n    jobs.push({\n      title, company, url, date_posted, location,\n      employment_type: 'Full-time',\n      description: techStack.length > 0 ? 'Tech stack: ' + techStack.join(', ') : '',\n      source: 'dev.bg'\n    });\n  }\n  return jobs;\n}\n\nfunction lastPageOf(html) {\n  const clean = String(html).replace(/\\\\\"/g, '\"');\n  let max = 1;\n  const re = /data-page=\"(\\d+)\"/g;\n  let m;\n  while ((m = re.exec(clean)) !== null) { const n = parseInt(m[1], 10); if (n > max) max = n; }\n  return max;\n}\n\nfunction addJobs(html) {\n  for (const job of parseJobsFromHtml(html)) {\n    if (!seenUrls.has(job.url)) { seenUrls.add(job.url); allJobs.push(job); }\n  }\n}\n\nfor (let i = 0; i < allItems.length; i++) {\n  const html = allItems[i].json.data || '';\n  if (!html) continue;\n  addJobs(html);\n\n  const baseUrl = (builtUrls[i] && builtUrls[i].json && builtUrls[i].json.scrape_url) || '';\n  if (!baseUrl) continue;\n\n  const lastPage = Math.min(lastPageOf(html), MAX_PAGES);\n  for (let p = 2; p <= lastPage; p++) {\n    const pageUrl = baseUrl + (baseUrl.includes('?') ? '&' : '?') + '_paged=' + p;\n    try {\n      const resp = await this.helpers.httpRequest({ url: pageUrl, method: 'GET', headers: { 'User-Agent': UA }, json: false, timeout: 20000 });\n      const pageHtml = typeof resp === 'string' ? resp : ((resp && resp.body) || '');\n      if (pageHtml) addJobs(pageHtml);\n    } catch (e) {\n      // transient page error or no http helper — keep what we have and move on\n    }\n  }\n}\n\nreturn [{ json: { output: { jobs: allJobs } } }];\n"
      },
      "id": "d9fc9ba9-ea79-4b5e-97f6-ef429d81cb26",
      "name": "Parse & Merge Categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Relevance pre-filter: rank every in-period listing by how its tech-tag set (\"icons\") overlaps\n// the candidate's stack, then keep the best matches for the expensive AI analysis. Ranking is\n// TWO-LEVEL: first by the number of MAIN matches (the candidate's defining stack — primary_stack:\n// the 3-5 languages/frameworks/tools they actually build with), then by SECONDARY matches\n// (everything else they know, incl. markup/styling and tools) as a tie-breaker, then by date.\n// A job needs at least ONE MAIN match to be evaluated at all — sharing only HTML/CSS or a tool\n// (e.g. Git, MySQL) is NOT enough. We DON'T pad to 15 with near-irrelevant listings; if the MAIN\n// matches are thin we top up to a small floor with the best secondary-only jobs, no further.\n// Role-agnostic — a dev matches on languages/frameworks, a QA on its testing frameworks/tools.\nconst item = $input.first();\nconst jobs = item.json.output?.jobs || [];\nconst cv = $('Build dev.bg Target URL').first().json.cv_profile || {};\n\nconst ALIASES = {'js':'javascript','ts':'typescript','postgres':'postgresql','node':'node.js','nodejs':'node.js','k8s':'kubernetes','golang':'go','reactjs':'react','react.js':'react','nextjs':'next.js','vuejs':'vue.js','vue':'vue.js','css3':'css','html5':'html','dotnet':'.net','.net core':'.net','spring framework':'spring','springboot':'spring boot','tailwind css':'tailwindcss','tailwind':'tailwindcss','scss/sass':'scss'};\nconst norm = s => { const t = (s || '').toLowerCase().trim(); return ALIASES[t] || t; };\n\n// Markup / styling / ubiquitous UI tech — never counts as MAIN, only as a secondary tie-breaker.\n// (A candidate's real coding direction is defined by languages/frameworks, not by HTML/CSS.)\nconst MARKUP = new Set(['html', 'css', 'scss', 'sass', 'less', 'tailwindcss', 'bootstrap', 'jquery'].map(norm));\n\n// MAIN = the candidate's defining stack (LLM-picked primary_stack), minus any markup that slipped in.\n// Fallback for older/cached profiles without primary_stack: professionally-used languages + frameworks.\nlet mainList = (cv.primary_stack || []).map(norm).filter(Boolean).filter(t => !MARKUP.has(t));\nif (mainList.length === 0) {\n  mainList = [...(cv.primary_languages || []), ...(cv.frameworks || [])].map(norm).filter(Boolean).filter(t => !MARKUP.has(t));\n}\nconst mainSet = new Set(mainList);\n\n// SECONDARY = everything else the candidate has (other languages/frameworks, tools, skills, and the\n// demoted markup). Used ONLY as a tie-breaker between jobs that already share a MAIN tech.\nconst secondarySet = new Set([\n  ...(cv.programming_languages || []),\n  ...(cv.frameworks || []),\n  ...(cv.tools || []),\n  ...(cv.skills || [])\n].map(norm).filter(Boolean).filter(t => !mainSet.has(t)));\n\n// Non-discriminating tags: present on almost every listing, so they don't indicate fit.\nconst IGNORE = new Set([\n  'git', 'github', 'gitlab', 'bitbucket', 'svn',\n  'agile', 'scrum', 'kanban', 'jira', 'confluence',\n  'english', 'bulgarian', 'german', 'french', 'spanish', 'russian', 'italian',\n  'dutch', 'portuguese', 'polish', 'romanian', 'greek', 'turkish', 'ukrainian'\n].map(norm));\n\nfunction tagsOf(job) {\n  if (Array.isArray(job.tech_tags) && job.tech_tags.length) return job.tech_tags;\n  return String(job.description || '').replace('Tech stack:', '').split(',');\n}\n// Count DISTINCT shared technologies, split by tier: MAIN (defining stack) and SECONDARY (the rest).\nfunction tiers(job) {\n  let main = 0, sec = 0;\n  const seen = new Set();\n  for (const raw of tagsOf(job)) {\n    const t = norm(String(raw).trim());\n    if (!t || seen.has(t) || IGNORE.has(t)) continue;\n    seen.add(t);\n    if (mainSet.has(t)) main++;\n    else if (secondarySet.has(t)) sec++;\n  }\n  return { main, sec };\n}\n\nconst MAX_JOBS = 15;   // hard ceiling sent to the scorer\nconst MIN_JOBS = 6;    // if MAIN matches are thinner than this, top up with secondary-only up to here\n\n// Two-level ranking: more MAIN matches always wins; SECONDARY breaks ties; then original order (date).\n// So a job sharing 2 of the candidate's defining techs always ranks above one sharing only 1.\nconst ranked = jobs\n  .map((job, i) => { const t = tiers(job); return { job, i, main: t.main, sec: t.sec }; })\n  .sort((a, b) => b.main - a.main || b.sec - a.sec || a.i - b.i);\n\n// Primary pool: jobs sharing >=1 MAIN tech — the real matches. Take up to MAX_JOBS.\nlet keptR = ranked.filter(r => r.main > 0).slice(0, MAX_JOBS);\n\n// If MAIN matches are too thin, top up ONLY up to MIN_JOBS (never to MAX_JOBS) with the best\n// secondary-only jobs — so we never pad the full list with near-irrelevant listings.\nif (keptR.length < MIN_JOBS) {\n  const secOnly = ranked.filter(r => r.main === 0 && r.sec > 0);\n  keptR = keptR.concat(secOnly.slice(0, MIN_JOBS - keptR.length));\n}\n\nlet kept = keptR.map(r => r.job);\n// Safety net: sparse/odd tagging left nothing overlapping → never return empty, keep most-recent.\nif (kept.length === 0) kept = jobs.slice(0, MAX_JOBS);\n\nreturn [{ json: { output: { jobs: kept } } }];\n"
      },
      "id": "55732e10-0b56-4123-b82d-b873130b68d5",
      "name": "Keyword Pre-Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        112
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.jobs_text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"requirements\": [{\"job_index\": 0, \"required_tech\": [\"React\", \"Node.js\"], \"preferred_tech\": [\"GraphQL\"], \"accepts_alternatives_for\": [\"React\"], \"experience_years_min\": 5, \"experience_level\": \"Senior\", \"methodologies\": [\"Agile\"], \"human_languages\": [\"English\"]}]}",
        "options": {
          "systemPromptTemplate": "You are a precise requirements analyst. For each job listing in the input, read it in full — responsibilities, requirements, and any \"nice to have\" / \"advantages\" sections — and extract only what is explicitly written. Do not infer or add anything.\n\nWHAT COUNTS AS A TECHNOLOGY (for required_tech / preferred_tech): ONLY named, recognizable technologies — programming languages, frameworks, libraries, databases, cloud platforms, tools and infrastructure (e.g. Java, Kotlin, Spring, Spring Boot, React, Node.js, PostgreSQL, MySQL, Docker, Kubernetes, AWS, Azure, Kafka, Git, Terraform, GraphQL, REST).\n\nDO NOT extract these — leave them out entirely:\n- General concepts, practices or activities — e.g. microservices, event sourcing, distributed systems, monitoring, alerting, logging, reporting, schema design, clean architecture, OOP, SOLID, design patterns, scalability, performance, security, data structures.\n- Domain or business terms — e.g. payments, settlement, reconciliation, FX, stablecoins, blockchain, marketing, CRM, internal reporting.\n- Sub-features of a technology — extract the technology itself, not its features (e.g. \"Kotlin\", not \"coroutines\"; \"AWS\", not \"Lambda\" / \"ECS\" / \"DynamoDB\", unless that specific product is itself the core requirement).\n- Soft skills, responsibilities and vague phrases.\nVery rarely, include a highly specific named requirement only if it is clearly a concrete tool/standard.\n\nFields per job:\n- required_tech — technologies presented as required / must-have.\n- preferred_tech — optional technologies. RULE: anything under a section phrased as \"nice to have\", \"advantages\", \"a plus\", \"will be considered a plus\", \"bonus\" or \"good to have\" ALWAYS goes here. Never skip these sections.\n- experience_years_min — minimum years as a number (0 if not stated).\n- experience_level — Junior, Mid, Senior or Lead.\n- methodologies — only Agile, Scrum, Kanban or Waterfall.\n- human_languages — e.g. English.\n- accepts_alternatives_for — see the alternatives rule below.\n\nAlternatives rule: when ONE requirement can be satisfied by any of several technologies (e.g. \"Rust, or strong background in TypeScript, Go, Java or Kotlin\", \"React/Angular/Vue\", \"X or similar / or equivalent\"), put the primary technology in required_tech AND list EVERY acceptable technology (including the primary) in accepts_alternatives_for. If the job states no alternatives, leave accepts_alternatives_for empty.\n\nNormalize every technology to its common canonical name (e.g. ReactJS / React.js → React, NodeJS → Node.js, postgres → PostgreSQL, k8s → Kubernetes).\n\nReturn exactly one entry in \"requirements\" per job, in the same order as the input. If a section lists no real technologies, return empty arrays — do not invent or pad."
        }
      },
      "id": "f6ae9e25-79fb-4dfc-9359-b32c85a97a32",
      "name": "Extract Job Requirements",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        3248,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $('Prepare Batch Input').first().json.jobs || [];\nconst cv = $('Prepare Batch Input').first().json.cv_profile;\nconst requirements = $input.first().json.output.requirements || [];\n\nconst cvAllTech = [...(cv.skills||[]), ...(cv.programming_languages||[]), ...(cv.frameworks||[]), ...(cv.tools||[])];\nconst cvAllTechLower = cvAllTech.map(s => s.toLowerCase().trim());\nconst hasTech = (n) => cvAllTechLower.some(t => t.includes(n));\n\nconst years = cv.years_of_experience || 0;\nconst level = (cv.experience_level || '').toLowerCase();\nconst jobType = (cv.job_type || '').toLowerCase();\nconst isMidPlus = ['mid','senior','lead'].includes(level) || years >= 3;\nconst hasAnyDb = ['postgresql','postgres','mysql','mariadb','oracle','sql server','mssql','sqlite','rds'].some(db => hasTech(db));\n\nconst IMPLIED = [\n  { s: 'Git',    w: () => isMidPlus },\n  { s: 'GitHub', w: () => isMidPlus },\n  { s: 'Maven',  w: () => hasTech('spring') },\n  { s: 'SQL',    w: () => ['backend','fullstack','full-stack','data'].includes(jobType) || hasAnyDb }\n];\nconst impliedSkills = [];\nfor (const r of IMPLIED) { if (r.w() && !cvAllTechLower.includes(r.s.toLowerCase())) impliedSkills.push(r.s); }\n\nconst LINEAGE = [\n  { w: () => hasTech('typescript') || hasTech('node'), a: 'JavaScript', src: () => hasTech('typescript') ? 'TypeScript' : 'Node.js' },\n  { w: () => hasTech('scss') || hasTech('sass'),       a: 'CSS',        src: () => hasTech('scss') ? 'SCSS' : 'SASS' },\n  { w: () => hasTech('spring'),                        a: 'Spring',     src: () => 'Spring' }\n];\nconst lineageSkills = [];\nconst derivedFrom = {};\nfor (const r of LINEAGE) { const al = r.a.toLowerCase(); if (r.w() && !cvAllTechLower.includes(al) && !lineageSkills.map(x=>x.toLowerCase()).includes(al)) { lineageSkills.push(r.a); derivedFrom[al] = r.src(); } }\n\nconst candidateSkills = [...cvAllTech, ...impliedSkills, ...lineageSkills];\n\nconst AWS_SERVICES = ['ec2','rds','s3','lambda','ecs','eks','dynamodb','cloudwatch','codedeploy','cloudformation','sqs','sns','cloudfront','elasticache','redshift','kinesis','fargate','opensearch'];\nconst CLOUD = [\n  { term: 'AWS',   prov: 'aws',   svc: AWS_SERVICES },\n  { term: 'Azure', prov: 'azure', svc: [] },\n  { term: 'GCP',   prov: 'gcp',   svc: ['google cloud','bigquery','gke'] }\n];\nfor (const c of CLOUD) {\n  if (cvAllTechLower.includes(c.term.toLowerCase())) continue;\n  const has = candidateSkills.some(s => {\n    const sl = s.toLowerCase().trim();\n    return sl === c.prov || sl.includes(c.prov) || c.svc.includes(sl);\n  });\n  if (has) candidateSkills.push(c.term);\n}\n\nconst spokenLangs = cv.spoken_languages || [];\n\nconst ALIASES = {'js':'javascript','ecmascript':'javascript','ts':'typescript','postgres':'postgresql','postgre':'postgresql','node':'node.js','nodejs':'node.js','k8s':'kubernetes','csharp':'c#','golang':'go','reactjs':'react','react.js':'react','nextjs':'next.js','vuejs':'vue.js','vue':'vue.js','css3':'css','html5':'html','dotnet':'.net','.net core':'.net','.net 8':'.net','.net framework':'.net','rest':'rest apis','rest api':'rest apis','restful apis':'rest apis','restful api':'rest apis','tailwind css':'tailwindcss','tailwind':'tailwindcss'};\nfunction norm(s){ const t = (s||'').toLowerCase().trim(); return ALIASES[t] || t; }\nconst candidateNorm = candidateSkills.map(norm);\nconst candidateSet = new Set(candidateNorm);\nfunction langCovered(jobLang){ const jl = norm(jobLang); return spokenLangs.some(sl => norm(sl).includes(jl)); }\n\nconst primarySet = new Set((cv.primary_languages || []).map(norm));\nconst SECONDARY_LANG_CREDIT = 0.4;\n\nfunction skillBase(s){ return norm(String(s).split(' (')[0]); }\nfunction dedupSkills(arr){\n  const byBase = new Map();\n  for (const s of arr){\n    const str = String(s);\n    const annotated = str.includes(' (');\n    const base = skillBase(str);\n    if (!byBase.has(base)) { byBase.set(base, s); }\n    else { const ex = String(byBase.get(base)); if (ex.includes(' (') && !annotated) byBase.set(base, s); }\n  }\n  return [...byBase.values()];\n}\n\nconst FOUNDATIONAL = new Set(['git','github','gitlab','bitbucket','agile','scrum','kanban','jira','confluence'].map(norm));\nconst HUMAN_LANGS = new Set(['english','bulgarian','german','french','spanish','russian','italian','dutch','portuguese','polish','romanian','greek','turkish','ukrainian','czech','hungarian','croatian','serbian','arabic','chinese','japanese'].map(norm));\nconst LANGUAGES = new Set(['java','kotlin','go','python','c#','javascript','typescript','php','ruby','c++','c','rust','scala','swift','objective-c','perl','dart','elixir','clojure','groovy','f#','vb.net','lua','haskell','julia'].map(norm));\nconst FRONTEND_FRAMEWORKS = new Set(['react','angular','angularjs','vue.js','svelte','next.js','nuxt'].map(norm));\nconst isFrontendCandidate = ['frontend','fullstack','full-stack'].includes(jobType);\nconst techWeight = (t) => {\n  const n = norm(t);\n  if (LANGUAGES.has(n)) return 3;\n  if (isFrontendCandidate && FRONTEND_FRAMEWORKS.has(n)) return 2;\n  return 1;\n};\n\nconst MAIN_DISPLAY = {'java':'Java','kotlin':'Kotlin','go':'Go','python':'Python','c#':'C#','javascript':'JavaScript','typescript':'TypeScript','php':'PHP','ruby':'Ruby','c++':'C++','rust':'Rust','scala':'Scala','swift':'Swift','.net':'.NET','node.js':'Node.js','react':'React','angular':'Angular','vue.js':'Vue.js','spring':'Spring','django':'Django','laravel':'Laravel','blazor':'Blazor','dart':'Dart','elixir':'Elixir'};\nconst MAIN_KNOWN = new Set(Object.keys(MAIN_DISPLAY));\nconst MAIN_LANG_SET = new Set(['java','kotlin','go','python','c#','javascript','typescript','php','ruby','c++','rust','scala','swift','.net','dart','elixir']);\nconst FRONTEND_FW = new Set(['react','angular','vue.js','svelte'].map(norm));\nconst BACKEND_MS = new Set(['java','kotlin','go','python','c#','php','ruby','rust','scala','.net','node.js','elixir','c++'].map(norm));\nfunction detectMainStack(title, description){\n  const titleTokens = []; const tseen = new Set();\n  for (const tok of String(title || '').toLowerCase().split(/[^a-z0-9+#.]+/).filter(Boolean)){\n    const n = norm(tok); if (MAIN_KNOWN.has(n) && !tseen.has(n)){ tseen.add(n); titleTokens.push(n); }\n  }\n  const tLower = String(title || '').toLowerCase();\n  const roleFull  = /full[ \\-]?stack/.test(tLower);\n  const roleFront = /front[ \\-]?end/.test(tLower);\n  const roleBack  = /back[ \\-]?end/.test(tLower);\n  const iconTags = String(description || '').replace('Tech stack:', '').split(',').map(s => norm(s.trim())).filter(Boolean);\n  const pick = (set) => {\n    const fromTitle = titleTokens.find(t => set.has(t));\n    if (fromTitle) return fromTitle;\n    const inIcons = iconTags.filter(t => set.has(t));\n    return inIcons.length === 1 ? inIcons[0] : null;\n  };\n  const backend = pick(BACKEND_MS);\n  const frontend = pick(FRONTEND_FW);\n  let out;\n  if (roleFront)               out = [frontend || backend];\n  else if (roleBack)           out = [backend];\n  else if (roleFull)           out = [backend, frontend];\n  else if (titleTokens.length) out = titleTokens.slice(0, 2);\n  else                         out = [backend, frontend];\n  const seen = new Set(); const res = [];\n  for (const t of out){ if (t && !seen.has(t)){ seen.add(t); res.push(t); } }\n  return res.slice(0, 2);\n}\n\nconst COMPARABLE_PAIRS = [\n  ['Angular','React','Vue.js'],\n  ['Angular','AngularJS'],\n  ['Express','NestJS','Koa','Fastify'],\n  ['Django','FastAPI','Flask'],\n  ['Spring Boot','Quarkus','Micronaut'],\n  ['PostgreSQL','MySQL','MariaDB','Oracle','SQL Server','SQL'],\n  ['Hibernate','JPA','Spring Data'],\n  ['SCSS','SASS','Less'],\n  ['Jest','Mocha','Jasmine','Vitest'],\n  ['Cypress','Playwright','Selenium','WebdriverIO']\n];\nconst ALWAYS_COMPARABLE = new Set(['PostgreSQL','MySQL','MariaDB','Oracle','SQL Server','SQL','AngularJS'].map(norm));\nconst VERSION_LINEAGE = [['angular','angularjs']];\nfunction isLineage(a, b){ return VERSION_LINEAGE.some(p => p.includes(a) && p.includes(b) && a !== b); }\nfunction findComparable(reqTech, allowedNorm){\n  const rn = norm(reqTech);\n  if (!ALWAYS_COMPARABLE.has(rn) && !allowedNorm.includes(rn)) return null;\n  for (const pair of COMPARABLE_PAIRS){\n    const pl = pair.map(norm);\n    if (!pl.includes(rn)) continue;\n    for (let i=0;i<pair.length;i++){\n      if (pl[i]===rn) continue;\n      if (candidateSet.has(pl[i])){\n        const idx = candidateNorm.indexOf(pl[i]);\n        const cvTech = idx!==-1 ? candidateSkills[idx] : pair[i];\n        if (isLineage(rn, pl[i])) return `${reqTech} (имаш познания от ${cvTech})`;\n        return `${cvTech} (алтернатива на ${reqTech})`;\n      }\n    }\n  }\n  return null;\n}\n\nfunction levelRank(s){\n  const t = ' ' + (s||'').toLowerCase() + ' ';\n  if (t.includes('lead')||t.includes('principal')||t.includes('staff')||t.includes('chief')||t.includes('architect')||t.includes('head of')) return 4;\n  if (t.includes('senior')||t.includes('sr.')||t.includes('sr ')) return 3;\n  if (t.includes('middle')||t.includes('mid-')||t.includes('mid ')||t.includes('intermediate')||t.includes('regular')) return 2;\n  if (t.includes('junior')||t.includes('jr.')||t.includes('jr ')||t.includes('entry')||t.includes('graduate')||t.includes('trainee')||t.includes('intern')) return 1;\n  return 0;\n}\n// Candidate seniority = level implied by TOTAL years (bands: <2 Junior, 2-5 Mid, 5-10 Senior, 10+ Lead),\n// falling back to the extractor's word if years are missing. Held titles may lift the level by AT MOST\n// one step above what the years imply (and never lower it) — credits real seniority without letting an\n// inflated title (e.g. \"Senior\" at 2 yrs) over-promote. If no title carries a seniority word, years win.\nfunction bandRank(y){ if (y >= 10) return 4; if (y >= 5) return 3; if (y >= 2) return 2; return 1; }\nconst yearsRank = (cv.years_of_experience > 0) ? bandRank(cv.years_of_experience) : levelRank(cv.experience_level);\nconst titleRank = Math.max(0, ...(cv.job_titles || []).map(levelRank));\nconst candRank = titleRank > 0 ? Math.max(yearsRank, Math.min(titleRank, yearsRank + 1)) : yearsRank;\nconst SHOW_THRESHOLD = 30;\n\nconst scored = requirements.map((req, i) => {\n  const allowedNorm = (req.accepts_alternatives_for || []).map(norm);\n  const matched = [];\n  const missing = [];\n\n  function coverTech(t){\n    const nt = norm(t);\n    if (candidateSet.has(nt)) {\n      if (LANGUAGES.has(nt) && primarySet.size > 0 && !primarySet.has(nt)) {\n        const src = derivedFrom[nt];\n        matched.push(src ? `${t} (имаш познания от ${src})` : `${t} (имаш познания)`);\n        return SECONDARY_LANG_CREDIT;\n      }\n      matched.push(t);\n      return 1;\n    }\n    const comp = findComparable(t, allowedNorm);\n    if (comp) { matched.push(comp); return 0.5; }\n    missing.push(t);\n    return 0;\n  }\n\n  const prefTech = req.preferred_tech || [];\n  const methods = req.methodologies || [];\n  const langs = req.human_languages || [];\n\n  const jobTags = String((jobs[i] || {}).description || '').replace('Tech stack:', '').split(',').map(s => s.trim()).filter(Boolean);\n  const knownNorm = new Set([...(req.required_tech || []), ...prefTech].map(norm));\n  const reqTech = [...(req.required_tech || [])];\n  for (const tag of jobTags) {\n    const tn = norm(tag);\n    if (!tn || knownNorm.has(tn) || HUMAN_LANGS.has(tn)) continue;\n    if ([...knownNorm].some(k => isLineage(tn, k))) continue;\n    knownNorm.add(tn); reqTech.push(tag);\n  }\n\n  for (const alt of (req.accepts_alternatives_for || [])) {\n    const an = norm(alt);\n    if (an && !knownNorm.has(an) && candidateSet.has(an)) { knownNorm.add(an); reqTech.push(alt); }\n  }\n\n  let aCovW = 0, aTotW = 0, coreCovW = 0, coreTotW = 0;\n  for (const t of reqTech){\n    const w = techWeight(t);\n    const c = coverTech(t);\n    aCovW += c * w; aTotW += w;\n    if (!FOUNDATIONAL.has(norm(t))) { coreTotW += w; coreCovW += c * w; }\n  }\n  const aScore = (aTotW ? aCovW/aTotW : 1) * 0.60;\n  const coreCoverage = coreTotW ? coreCovW/coreTotW : 1;\n\n  let bCov = 0; for (const t of prefTech) bCov += coverTech(t);\n  const bScore = (prefTech.length ? bCov/prefTech.length : 1) * 0.10;\n\n  const jobRank = Math.max(levelRank(req.experience_level), levelRank((jobs[i]||{}).title));\n  const meetsLevel = (candRank===0 || jobRank===0 || candRank>=jobRank);\n  const meetsYears = years >= (req.experience_years_min||0);\n  const expMatch = meetsLevel && meetsYears;\n  const expGrade = expMatch ? 1 : ((meetsLevel || meetsYears) ? 0.6 : 0.2);\n  const expScore = expGrade * 0.20;\n\n  let mlItems = 0, mlCov = 0;\n  for (const m of methods){ mlItems++; if (candidateSet.has(norm(m))){ mlCov++; matched.push(m); } else missing.push(m); }\n  for (const l of langs){ mlItems++; if (langCovered(l)){ mlCov++; matched.push(l); } else missing.push(l); }\n  const mlScore = (mlItems ? mlCov/mlItems : 1) * 0.10;\n\n  const mainStackNorm = detectMainStack((jobs[i] || {}).title, (jobs[i] || {}).description);\n  const mainLangs = mainStackNorm.filter(m => MAIN_LANG_SET.has(m));\n  const decisive = mainLangs.length ? mainLangs : mainStackNorm;\n  function coverMain(m){\n    if (candidateSet.has(m)){\n      if (LANGUAGES.has(m) && primarySet.size > 0 && !primarySet.has(m)) return 'weak';\n      return 'strong';\n    }\n    if (allowedNorm.includes(m)){\n      if ([...primarySet].some(p => allowedNorm.includes(p))) return 'strong';\n      if (allowedNorm.some(a => candidateSet.has(a))) return 'weak';\n    }\n    return 'none';\n  }\n  let mainFactor = 1;\n  if (decisive.length){\n    const covs = decisive.map(coverMain);\n    mainFactor = covs.includes('strong') ? 1 : (covs.includes('weak') ? 0.85 : 0.55);\n  }\n  let main_alt = '';\n  for (const m of decisive){\n    if (!candidateSet.has(m) && allowedNorm.includes(m)){\n      const p = [...primarySet].find(x => allowedNorm.includes(x));\n      if (p){ const idx = candidateNorm.indexOf(p); const have = idx !== -1 ? candidateSkills[idx] : p; main_alt = `${have} (приема се вместо ${MAIN_DISPLAY[m] || m})`; break; }\n    }\n  }\n  const main_stack = mainStackNorm.map(m => MAIN_DISPLAY[m] || m);\n\n  const raw = (aScore + bScore + expScore + mlScore) * 100;\n  const coreFactor = coreTotW === 0 ? 1 : Math.min(1, 0.3 + 1.4 * coreCoverage);\n  let score = Math.round(raw * coreFactor * mainFactor);\n  if (!expMatch) score = Math.max(0, score - 5);\n\n  const overqualified = candRank>0 && jobRank>0 && (candRank - jobRank >= 2);\n  const matchedFinal = dedupSkills(matched);\n  const matchedBases = new Set(matchedFinal.map(skillBase));\n  const missingFinal = dedupSkills(missing).filter(m => !matchedBases.has(skillBase(m)));\n  return { job_index: i+1, score, matched_skills: matchedFinal, missing_skills: missingFinal, experience_match: expMatch, main_stack, main_alt, _overq: overqualified };\n});\n\nconst toSummarize = scored.filter(s => s.score >= SHOW_THRESHOLD && !s._overq);\nconst summary_text = toSummarize.map(s => {\n  const job = jobs[s.job_index - 1] || {};\n  return 'JOB ' + s.job_index + ': ' + (job.title||'') + ' @ ' + (job.company||'') + '\\n' +\n    'Score: ' + s.score + '%\\n' +\n    'Matched: ' + (s.matched_skills.join(', ') || 'none') + '\\n' +\n    'Missing: ' + (s.missing_skills.join(', ') || 'none') + '\\n' +\n    'Experience match: ' + (s.experience_match ? 'yes' : 'no');\n}).join('\\n\\n') + '\\n\\nFor EACH job above, write ONE Bulgarian sentence summarising the key technical match or gap. Return exactly ' + toSummarize.length + ' entries, each with its job_index.';\n\nreturn [{ json: { summary_text, scored, jobs } }];\n"
      },
      "id": "e5af77aa-a7f2-4006-9784-59dc57ba6a09",
      "name": "Build Scoring Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text || '';\nif (!text.trim()) throw new Error('LlamaParse returned empty text');\nreturn [{ json: { text } }];"
      },
      "id": "c68f3e08-f005-4719-a8a4-b098c80e3923",
      "name": "Prepare CV Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        464
      ]
    },
    {
      "parameters": {
        "tier": "cost_effective"
      },
      "id": "e4f13b86-0cc8-43b3-9e52-d8ecf9c3dd81",
      "name": "LlamaParse Parse",
      "type": "@llamaindex/n8n-nodes-llamacloud.llamaParsePlatform",
      "typeVersion": 1,
      "position": [
        736,
        480
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        944,
        304
      ],
      "id": "e1aacd11-d879-43b2-8148-ffd0ab5fa55c",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        3392,
        288
      ],
      "id": "1e75b6a9-ab0c-4229-b83d-2193317bb9be",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "n8n-nodes-deepseek-chat-model.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1712,
        656
      ],
      "id": "0ec681aa-90d8-4a60-8ed1-765788584c05",
      "name": "DeepSeek Chat Model1"
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "n8n-nodes-deepseek-chat-model.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3248,
        288
      ],
      "id": "74e977d9-dca0-4250-9568-7002c3e5e11f",
      "name": "DeepSeek Chat Model3"
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "n8n-nodes-deepseek-chat-model.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        784,
        304
      ],
      "id": "67ee062c-9266-4c78-b298-eca49ff3fe5c",
      "name": "DeepSeek Chat Model4"
    },
    {
      "parameters": {
        "jsCode": "// Deterministic CV \"market gap\" analysis: aggregates the skills that show up as MISSING\n// across the candidate's relevant (already-scored) jobs, so we can tell them which skills\n// would unlock the most opportunities. No LLM — pure aggregation of data we already have.\nconst jobs = $input.first().json.jobs || [];                    // passthrough from Aggregate\nconst scored = $('Build Scoring Input').first().json.scored || [];\nconst cv = $('Build dev.bg Target URL').first().json.cv_profile || {};\n\nconst ALIASES = {'js':'javascript','ts':'typescript','postgres':'postgresql','node':'node.js','nodejs':'node.js','k8s':'kubernetes','csharp':'c#','golang':'go','reactjs':'react','react.js':'react','nextjs':'next.js','vuejs':'vue.js','vue':'vue.js','css3':'css','html5':'html','dotnet':'.net','tailwind css':'tailwindcss','tailwind':'tailwindcss'};\nfunction norm(s){ const t = (s||'').toLowerCase().trim(); return ALIASES[t] || t; }\n\n// skills the candidate already has (exclude from gaps)\nconst cvTech = new Set([...(cv.skills||[]), ...(cv.programming_languages||[]), ...(cv.frameworks||[]), ...(cv.tools||[])].map(norm));\n// ubiquitous / non-tech things that aren't worth recommending\nconst FOUNDATIONAL = new Set(['git','github','gitlab','bitbucket','agile','scrum','kanban','jira','confluence','rest','rest apis','soap'].map(norm));\nconst HUMAN_LANGS = new Set(['english','bulgarian','german','french','spanish','russian','italian','dutch','polish','romanian','greek','turkish','ukrainian'].map(norm));\n\n// Aggregate the skills the candidate is missing across all relevant scored jobs.\nconst agg = {}; // norm -> { label, count, best }\nfor (const s of scored){\n  for (const raw of (s.missing_skills || [])){\n    const label = String(raw).split(' (')[0].trim();\n    const n = norm(label);\n    if (!n || cvTech.has(n) || FOUNDATIONAL.has(n) || HUMAN_LANGS.has(n)) continue;\n    if (!agg[n]) agg[n] = { label, count: 0, best: 0 };\n    agg[n].count++;\n    agg[n].best = Math.max(agg[n].best, s.score || 0);\n  }\n}\nconst all = Object.values(agg)\n  .map(g => ({ skill: g.label, jobs_count: g.count, best_score: g.best }))\n  .sort((a, b) => b.jobs_count - a.jobs_count || b.best_score - a.best_score);\n\n// Recommend skills wanted by 2+ jobs (a real market signal — one job's niche stack is noise).\n// If the pool is too scattered for any skill to repeat, fall back to the strongest few.\nlet market_gaps = all.filter(g => g.jobs_count >= 2);\nif (market_gaps.length === 0) market_gaps = all.slice(0, 3);\nmarket_gaps = market_gaps.slice(0, 5);\n\n// ---- Funnel statistics (transparency for the user) -----------------------\n// The full funnel, widest to narrowest:\n//   total_listings : ALL remote listings in the category(ies) on dev.bg (any date)\n//   in_period      : those within the selected days_back window (the date-filtered pool)\n//   evaluated      : jobs that passed the keyword pre-filter and got scored\n//   matched        : jobs we actually show (score >= adaptive threshold)\n//   below_threshold: of the EVALUATED jobs, how many fell below the threshold\nconst evaluated = jobs.length;\nconst strong = jobs.filter(j => (j.score || 0) >= 40).length;\n// Adaptive show-threshold: only relax to 30% when the candidate has few strong hits.\nconst threshold = strong >= 4 ? 40 : 30;\nconst matched = jobs.filter(j => (j.score || 0) >= threshold).length;\nconst below_30 = jobs.filter(j => (j.score || 0) < 30).length;\n\n// in_period = date-filtered pool (Assign Job URLs). Fallback to evaluated count.\nlet in_period = evaluated;\nconst periodPool = (((($('Assign Job URLs').first() || {}).json) || {}).output || {}).jobs;\nif (Array.isArray(periodPool)) in_period = periodPool.length;\n\n// total_listings = everything scraped from dev.bg before the date filter.\nlet total_listings = in_period;\nconst allPool = (((($('Parse & Merge Categories').first() || {}).json) || {}).output || {}).jobs;\nif (Array.isArray(allPool)) total_listings = allPool.length;\n\nconst below_threshold = Math.max(0, evaluated - matched);\nconst role = cv.job_type || '';\nconst period_days = ($('Normalize Input').first().json.days_back) || 0;\nconst location = ($('Build dev.bg Target URL').first().json.location) || '';\n\n// One pass over the in-period listings for two things:\n//   from_core_stack : how many share >=1 of the candidate's MAIN stack (the defining techs we rank on)\n//   tech_demand     : how many listings request each technology (from the icons) — market view\n// MAIN mirrors the Keyword Pre-Score definition: the LLM-picked primary_stack (minus markup), with a\n// fallback to professionally-used languages + frameworks for older profiles. Markup/styling is excluded\n// so \"in your stack\" honestly means a real language/framework match — not just HTML/CSS.\nconst MARKUP = new Set(['html', 'css', 'scss', 'sass', 'less', 'tailwindcss', 'bootstrap', 'jquery'].map(norm));\nlet mainList = (cv.primary_stack || []).map(norm).filter(Boolean).filter(t => !MARKUP.has(t));\nif (mainList.length === 0) {\n  mainList = [...(cv.primary_languages || []), ...(cv.frameworks || [])].map(norm).filter(Boolean).filter(t => !MARKUP.has(t));\n}\nconst coreStack = new Set(mainList);\nlet from_core_stack = 0;\nconst demandMap = {}; // norm -> { tech, count }\nconst periodJobs = (((($('Assign Job URLs').first() || {}).json) || {}).output || {}).jobs;\nif (Array.isArray(periodJobs)) {\n  for (const j of periodJobs) {\n    const seen = new Set();\n    let inStack = false;\n    for (const raw of String(j.description || '').replace('Tech stack:', '').split(',')) {\n      const label = String(raw).trim();\n      const n = norm(label);\n      if (!n || seen.has(n)) continue;\n      seen.add(n);\n      if (coreStack.has(n)) inStack = true;\n      if (FOUNDATIONAL.has(n) || HUMAN_LANGS.has(n)) continue;\n      if (!demandMap[n]) demandMap[n] = { tech: label, count: 0 };\n      demandMap[n].count++;\n    }\n    if (inStack) from_core_stack++;\n  }\n}\nconst tech_demand = Object.values(demandMap).sort((a, b) => b.count - a.count).slice(0, 8);\n\n// Structured market view: group the demanded techs by type so the UI can show MORE of the core\n// ones (languages/frameworks) while keeping tools compact. Markup (html/css/…) is omitted here —\n// near-universal, low signal, and already de-emphasised elsewhere.\nconst DEMAND_LANGS = new Set(['java','kotlin','javascript','typescript','python','c#','c++','c','go','ruby','php','scala','rust','swift','objective-c','sql','r','dart','perl','groovy','elixir','clojure','bash','powershell','plsql','pl/sql','vb.net','assembly','haskell','lua','matlab','solidity','f#','abap','cobol','shell'].map(norm));\nconst DEMAND_FRAMEWORKS = new Set(['react','angular','angularjs','vue.js','node.js','next.js','nuxt.js','nuxt','svelte','sveltekit','express','express.js','nestjs','nest.js','spring','spring boot','spring mvc','spring webflux','.net','asp.net','.net core','django','flask','fastapi','laravel','symfony','ruby on rails','rails','rxjs','jquery','tailwindcss','bootstrap','react native','flutter','hibernate','jpa','spring data','entity framework','quarkus','micronaut','gin','fiber','phoenix','ktor','blazor','electron','redux','material ui','materialui','remix','astro','apollo client'].map(norm));\nconst DEMAND_DATABASES = new Set(['postgresql','mysql','mongodb','redis','oracle','sql server','ms sql','mssql','mariadb','dynamodb','amazon dynamodb','elasticsearch','cassandra','sqlite','neo4j','couchbase','cosmos db','firestore','influxdb','snowflake','bigquery','nosql'].map(norm));\nconst DEMAND_CLOUD = new Set(['aws','azure','gcp','google cloud','google cloud platform','docker','kubernetes','terraform','jenkins','ansible','github actions','gitlab ci','helm','prometheus','grafana','serverless','openshift','circleci','azure devops','cloudformation','pulumi','nginx','linux','unix','linux/unix','ci/cd','datadog','argocd','istio','aws lambda','lambda'].map(norm));\nconst DEMAND_MARKUP = new Set(['html','css','scss','sass','less'].map(norm));\n\nfunction demandGroupOf(n) {\n  if (DEMAND_MARKUP.has(n)) return null;      // skip markup entirely\n  if (DEMAND_LANGS.has(n)) return 'languages';\n  if (DEMAND_FRAMEWORKS.has(n)) return 'frameworks';\n  if (DEMAND_DATABASES.has(n)) return 'databases';\n  if (DEMAND_CLOUD.has(n)) return 'cloud';\n  return 'tools';                             // catch-all\n}\nconst GROUP_META = [\n  { key: 'languages',  label: 'Езици',          limit: 5 },\n  { key: 'frameworks', label: 'Фреймуорци',     limit: 5 },\n  { key: 'databases',  label: 'Бази данни',     limit: 3 },\n  { key: 'cloud',      label: 'Cloud & DevOps', limit: 3 },\n  { key: 'tools',      label: 'Инструменти',    limit: 3 }\n];\nconst groupBuckets = {};\nfor (const [n, v] of Object.entries(demandMap)) {\n  const g = demandGroupOf(n);\n  if (!g) continue;\n  (groupBuckets[g] = groupBuckets[g] || []).push({ tech: v.tech, count: v.count });\n}\nconst tech_demand_groups = GROUP_META\n  .filter(m => groupBuckets[m.key] && groupBuckets[m.key].length)\n  .map(m => ({\n    key: m.key,\n    label: m.label,\n    items: groupBuckets[m.key].sort((a, b) => b.count - a.count).slice(0, m.limit)\n  }));\n\n// The candidate's stack, surfaced for transparency (so the user sees what we match against).\nconst stack_core = [...(cv.programming_languages || []), ...(cv.frameworks || [])];\nconst stack_tools = [...(cv.tools || [])];\n\n// Categories actually searched (a role like Fullstack spans several dev.bg sections).\n// Primary (job_type) first, then the rest in scrape order — so the UI can say\n// \"за Fullstack, Backend и Frontend\" honestly.\nlet categories = role ? [role] : [];\ntry {\n  const built = $('Build dev.bg Target URL').all().map(i => i.json.category).filter(Boolean);\n  const distinct = [...new Set(built)];\n  categories = role\n    ? [role, ...distinct.filter(c => c !== role)]\n    : distinct;\n} catch (e) { /* keep [role] */ }\n\n// The candidate's MAIN stack (what we actually rank/match on), surfaced for transparency.\nconst primary_stack = [...(cv.primary_stack || [])];\n\nconst stats = {\n  total_listings, in_period, from_core_stack, evaluated, matched,\n  below_threshold, below_30, threshold, role, categories, period_days, location,\n  stack_core, stack_tools, primary_stack, tech_demand, tech_demand_groups,\n  // legacy alias kept so older clients don't break\n  found: in_period\n};\n\nreturn [{ json: { jobs, market_gaps, stats } }];\n"
      },
      "id": "08964569-6325-446a-9c8b-306d0e3b9474",
      "name": "Analyze CV Gaps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        464
      ]
    },
    {
      "parameters": {
        "text": "={{ $('Prepare CV Text').first().json.text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"tips\": [\"Add concrete numbers and impact to your achievements (e.g. reduced load time by 40%).\", \"Add a short professional summary at the top of the CV.\"]}",
        "options": {
          "systemPromptTemplate": "You are an experienced technical recruiter reviewing a candidate's CV. First read it carefully and note what it ALREADY contains. Then give 2-4 genuinely useful, specific improvement suggestions. WRITE EVERY SUGGESTION IN BULGARIAN.\n\nSTRICT RULES:\n- Suggest ONLY things that are genuinely missing or weak in THIS specific CV. NEVER suggest adding something it already has — e.g. if there is already a skills / technologies list, do NOT suggest adding a \"tech stack\" section.\n- Do NOT use placeholder templates such as \"X%\", \"from Y to Z\", or \"с X%\". If you suggest quantifying an achievement, point to a SPECIFIC responsibility/line that is actually in this CV and lacks a number; otherwise skip that suggestion entirely.\n- Every tip must reference concrete content that is really in THIS CV. No generic career advice. Do not blandly say \"add a GitHub link\" unless it is clearly relevant and you can tell it is absent.\n- Be honest: if the CV is already strong, return fewer but sharper tips (2 is fine).\n\nEach tip = one concise, concrete Bulgarian sentence that the candidate could act on immediately."
        }
      },
      "id": "fcb498e8-e690-4b0d-859a-9d2d41a576f0",
      "name": "CV Tips",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2864,
        464
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "n8n-nodes-deepseek-chat-model.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2864,
        656
      ],
      "id": "b3c7bab4-574a-436c-8c28-32dcefae1c8d",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1856,
        656
      ],
      "id": "3595a4c3-c899-4732-aafd-e77f60ecbaa4",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        3024,
        656
      ],
      "id": "04714e7b-29c9-40c7-95fe-e36eb9571909",
      "name": "Google Gemini Chat Model3"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "91DNRjtivHO88DDe"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "request_id",
              "keyValue": "={{ $('Receive CV Upload').first().json.body.request_id }}"
            }
          ]
        }
      },
      "id": "1b0e18e7-3869-4dcc-8700-d9d2de439f53",
      "name": "Stop Checkpoint 1",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        112
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "91DNRjtivHO88DDe"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "request_id",
              "keyValue": "={{ $('Receive CV Upload').first().json.body.request_id }}"
            }
          ]
        }
      },
      "id": "273c07e0-a4c4-44db-9691-3dfef3c470d5",
      "name": "Stop Checkpoint 2",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2064,
        96
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "91DNRjtivHO88DDe"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "request_id",
              "keyValue": "={{ $('Receive CV Upload').first().json.body.request_id }}"
            }
          ]
        }
      },
      "id": "c897ad4f-548e-4abf-aca4-d3adcfc2ee9e",
      "name": "Stop Checkpoint 3",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3088,
        96
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "91DNRjtivHO88DDe"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "request_id",
              "keyValue": "={{ $('Receive CV Upload').first().json.body.request_id }}"
            }
          ]
        }
      },
      "id": "c2a7507e-3a3e-4e63-a9da-1b184825c615",
      "name": "Stop Checkpoint 4",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3696,
        96
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "91DNRjtivHO88DDe"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "request_id",
              "keyValue": "={{ $('Receive CV Upload').first().json.body.request_id }}"
            }
          ]
        }
      },
      "id": "4c82b7c0-6be8-471e-b6e5-5d9a62484095",
      "name": "Stop Checkpoint 5",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2512,
        464
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "91DNRjtivHO88DDe"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "request_id",
              "keyValue": "={{ $('Receive CV Upload').first().json.body.request_id }}"
            }
          ]
        }
      },
      "id": "8fb7dfc2-a983-49e1-9b6a-34d41e9ee96c",
      "name": "Stop Checkpoint 6",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3328,
        464
      ]
    }
  ],
  "connections": {
    "Receive CV Upload": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CV Profile": {
      "main": [
        [
          {
            "node": "Build dev.bg Target URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build dev.bg Target URL": {
      "main": [
        [
          {
            "node": "Fetch dev.bg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Score": {
      "main": [
        [
          {
            "node": "Aggregate Job Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Provided?": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate CV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate CV File": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "LlamaParse Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV Text Valid?": {
      "main": [
        [
          {
            "node": "Stop Checkpoint 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Cannot Read CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobs Found?": {
      "main": [
        [
          {
            "node": "Stop Checkpoint 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Empty Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpack Batch Results": {
      "main": [
        [
          {
            "node": "Sort by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jobs for Fetch": {
      "main": [
        [
          {
            "node": "Fetch Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page": {
      "main": [
        [
          {
            "node": "Parse Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Description": {
      "main": [
        [
          {
            "node": "Aggregate Fetched Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Fetched Jobs": {
      "main": [
        [
          {
            "node": "Prepare Batch Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch dev.bg": {
      "main": [
        [
          {
            "node": "Parse & Merge Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Merge Categories": {
      "main": [
        [
          {
            "node": "Assign Job URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Job URLs": {
      "main": [
        [
          {
            "node": "Keyword Pre-Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Pre-Score": {
      "main": [
        [
          {
            "node": "Jobs Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Requirements": {
      "main": [
        [
          {
            "node": "Build Scoring Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CV Text": {
      "main": [
        [
          {
            "node": "CV Text Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score All Jobs (Batch)": {
      "main": [
        [
          {
            "node": "Unpack Batch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse Parse": {
      "main": [
        [
          {
            "node": "Prepare CV Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Cannot Read CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Score All Jobs (Batch)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Job Requirements",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Parse CV Profile",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze CV Gaps": {
      "main": [
        [
          {
            "node": "CV Tips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV Tips": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CV Tips",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Stop Checkpoint 1": {
      "main": [
        [
          {
            "node": "Parse CV Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Checkpoint 2": {
      "main": [
        [
          {
            "node": "Split Jobs for Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Input": {
      "main": [
        [
          {
            "node": "Stop Checkpoint 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Checkpoint 3": {
      "main": [
        [
          {
            "node": "Extract Job Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scoring Input": {
      "main": [
        [
          {
            "node": "Stop Checkpoint 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Checkpoint 4": {
      "main": [
        [
          {
            "node": "Score All Jobs (Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Job Results": {
      "main": [
        [
          {
            "node": "Stop Checkpoint 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Checkpoint 5": {
      "main": [
        [
          {
            "node": "Analyze CV Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Stop Checkpoint 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Checkpoint 6": {
      "main": [
        [
          {
            "node": "Email Provided?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
