n8n/workflow.json
{
  "name": "CV Job Matcher — dev.bg",
  "description": "CV Job Matcher — scrapes dev.bg job listings, parses CV with AI, scores each job vs. the candidate profile, and returns ranked results with match percentages.",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-job-matcher",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "56592bed-a457-4f7c-a89a-d109fa941ac0",
      "name": "Receive CV Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [112, 112],
      "webhookId": "0a020a74-8fb9-46c0-b12f-a06144d71de8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n-loc",
              "name": "location",
              "value": "={{ $json.body?.location ?? $json.location ?? \"Remote\" }}",
              "type": "string"
            },
            {
              "id": "n-lang",
              "name": "language",
              "value": "={{ $json.body?.language ?? $json.language ?? \"И двата\" }}",
              "type": "string"
            },
            {
              "id": "n-email",
              "name": "user_email",
              "value": "={{ $json.body?.email ?? $json.email ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "n-days",
              "name": "days_back",
              "value": "={{ Math.min(Number($json.body?.days_back ?? $json.days_back ?? 5), 10) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "142060ff-df66-4932-927a-83982ad18005",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [320, 112]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary || {};\nconst binaryKeys = Object.keys(binaryData);\n\nif (binaryKeys.length === 0) {\n  return [{ json: { ...item.json, cv_valid: false, error_code: 'NO_FILE', error_message: 'Моля качете CV файл в PDF формат.' } }];\n}\n\nconst pdfField = binaryKeys.find(k => {\n  const b = binaryData[k];\n  return b.fileType === 'pdf' || (b.mimeType && b.mimeType.toLowerCase().includes('pdf'));\n});\n\nif (!pdfField) {\n  const got = binaryData[binaryKeys[0]];\n  const gotType = got.fileExtension || got.mimeType || 'неизвестен';\n  return [{\n    json: { ...item.json, cv_valid: false, error_code: 'WRONG_FORMAT', error_message: `Само PDF файлове се поддържат. Получен формат: ${gotType}.` },\n    binary: binaryData\n  }];\n}\n\nreturn [{\n  json: { ...item.json, cv_valid: true, binary_field: pdfField },\n  binary: binaryData\n}];"
      },
      "id": "d54b5851-344d-42df-98a5-0abba64b9757",
      "name": "Validate CV File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [432, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.cv_valid }}",
              "operator": { "type": "boolean", "operation": "true" },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "89705b31-eeed-4250-b807-06b5b6b7af58",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [624, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error_code, message: $json.error_message } }}",
        "options": { "responseCode": 400 }
      },
      "id": "f81a44f2-6069-4aad-af5a-cce61f5273c6",
      "name": "Error: Invalid CV",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [624, 496]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.binary_field || 'data' }}",
        "options": { "joinPages": true }
      },
      "id": "02230ec7-7a0b-4c15-b58c-ae07121bdd4a",
      "name": "Extract CV Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [528, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "text-len-check",
              "leftValue": "={{ ($json.text || '').length }}",
              "operator": { "type": "number", "operation": "gte" },
              "rightValue": 200
            }
          ]
        },
        "options": {}
      },
      "id": "31427831-e78e-4d91-b7a0-63537ce97428",
      "name": "CV Text Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [816, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'UNREADABLE_CV', message: 'Не можахме да прочетем CV-то. Уверете се, че PDF файлът съдържа текст, а не е сканирано изображение.' } }}",
        "options": { "responseCode": 400 }
      },
      "id": "b0ce1903-a517-4ee3-afe1-166309cc84b0",
      "name": "Error: Cannot Read CV",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [816, 496]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"skills\": [\"JavaScript\", \"Node.js\", \"PostgreSQL\"], \"programming_languages\": [\"JavaScript\", \"Python\"], \"frameworks\": [\"Express\", \"React\"], \"tools\": [\"Docker\", \"Git\", \"AWS\"], \"spoken_languages\": [\"English\", \"Bulgarian\"], \"experience_level\": \"Mid\", \"job_type\": \"Backend\", \"years_of_experience\": 4, \"job_titles\": [\"Backend Developer\", \"Software Engineer\"]}",
        "options": {
          "systemPromptTemplate": "Extract the candidate profile from this CV text. For job_type use ONE of: Backend, Frontend, Fullstack, QA, Mobile, DevOps, Data. For experience_level use: Junior (0-2 years), Mid (2-5 years), Senior (5-10 years), Lead (10+ years). Extract all technical skills, languages, frameworks, and tools. For spoken_languages extract all human languages mentioned (e.g. English, Bulgarian, German) — include any language with a proficiency level mentioned in the CV."
        }
      },
      "id": "c2ea4037-65b5-45a9-8824-a0dc63b59bfb",
      "name": "Parse CV Profile",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [720, 112]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.1 }
      },
      "id": "d35ab740-fa94-426c-a85b-1a7a2d992bc6",
      "name": "Gemini Flash (CV Parse)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [720, -96]
    },
    {
      "parameters": {
        "jsCode": "const cvProfile = $input.first().json.output;\nconst prefs = $('Normalize Input').first().json;\n\nconst urlMap = {\n  'Backend':  'https://dev.bg/company/jobs/back-end-development/',\n  'Frontend': 'https://dev.bg/company/jobs/front-end-development/',\n  'Fullstack':'https://dev.bg/company/jobs/full-stack-development/',\n  'QA':       'https://dev.bg/company/jobs/quality-assurance/',\n  'Mobile':   'https://dev.bg/company/jobs/mobile/',\n  'DevOps':   'https://dev.bg/company/jobs/infrastructure/',\n  'Data':     'https://dev.bg/company/jobs/data-science-and-analytics/'\n};\n\nconst locationMap = {\n  'Remote':       'remote',\n  'София':       'sofiya',\n  'Пловдив':      'plovdiv',\n  'Варна':        'varna',\n  'Бургас':       'burgas',\n  'Русе':         'ruse',\n  'Стара Загора': 'stara-zagora'\n};\n\nconst jobType = cvProfile?.job_type || 'Backend';\nconst baseUrl = urlMap[jobType] || 'https://dev.bg/company/jobs/';\nconst locationSlug = locationMap[prefs.location];\nconst scrapeUrl = locationSlug\n  ? baseUrl + '?_job_location=' + encodeURIComponent(locationSlug)\n  : baseUrl;\n\nreturn [{\n  json: {\n    cv_profile: {\n      skills:               cvProfile?.skills || [],\n      programming_languages: cvProfile?.programming_languages || [],\n      frameworks:            cvProfile?.frameworks || [],\n      tools:                 cvProfile?.tools || [],\n      spoken_languages:      cvProfile?.spoken_languages || [],\n      experience_level:      cvProfile?.experience_level || 'Mid',\n      job_type:              jobType,\n      years_of_experience:   cvProfile?.years_of_experience || 0,\n      job_titles:            cvProfile?.job_titles || []\n    },\n    scrape_url:      scrapeUrl,\n    location:        prefs.location,\n    language:        prefs.language,\n    user_email:      prefs.user_email,\n    days_back:       prefs.days_back || 5\n  }\n}];"
      },
      "id": "9f14d416-5abc-40e5-9ad8-167f91a13947",
      "name": "Build dev.bg Target URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1024, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.scrape_url, formats: [\"markdown\", \"links\"], onlyMainContent: true } }}",
        "options": {}
      },
      "id": "dbf87784-e8a6-4f34-88d0-311f01ca1eda",
      "name": "Scrape dev.bg via Firecrawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1248, 112]
    },
    {
      "parameters": {
        "text": "={{ $json.data?.markdown ?? \"\" }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"jobs\": [{\"title\": \"Senior Node.js Developer\", \"company\": \"Tech Corp\", \"url\": \"https://dev.bg/company/jobs/123/\", \"date_posted\": \"2026-06-20\", \"location\": \"Sofia\", \"employment_type\": \"Full-time\", \"description\": \"Requirements: Node.js 5+ years, PostgreSQL, Docker, REST APIs...\"}]}",
        "options": {
          "systemPromptTemplate": "=Extract ALL job listings from the page content. Important: today is {{ $now.toISODate() }}. Convert relative dates (e.g. \"5 hours ago\", \"2 days ago\", \"вчера\") to absolute ISO dates (YYYY-MM-DD). For location use the city name or \"Remote\". Extract as complete a description and requirements list as possible. Leave the url field as an empty string."
        }
      },
      "id": "8533ad99-27fd-424a-a2d0-cd9f2edb3aab",
      "name": "Extract Job Listings",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [1472, 112]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.1 }
      },
      "id": "4cb64c64-0dd4-4b4b-bf10-c2c166ec968a",
      "name": "Gemini Flash (Job Extract)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [1472, -112]
    },
    {
      "id": "eb493a44-fb69-476a-a41c-d71bffb6146d",
      "name": "Assign Job URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 112],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst jobs = (item.json.output?.jobs || []);\n\n// Get job-specific links from Firecrawl (jobads URLs are individual job pages)\nconst allLinks = $('Scrape dev.bg via Firecrawl').first().json.data?.links || [];\nconst jobLinks = allLinks.filter(l =>\n  typeof l === 'string' && l.includes('dev.bg/company/jobads/')\n);\n\n// Assign URL by page order — links appear in the same order as job cards\nconst jobsWithUrls = jobs.map((job, i) => ({\n  ...job,\n  url: jobLinks[i] || ''\n}));\n\nreturn [{ json: { output: { jobs: jobsWithUrls } } }];"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "jobs-count-check",
              "leftValue": "={{ ($json.output?.jobs || []).length }}",
              "operator": { "type": "number", "operation": "gt" },
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "3dabc55d-a9cc-4e86-813a-5a29cc6ae5d5",
      "name": "Jobs Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1680, 672]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, jobs: [], total: 0, processed_at: $now.toISO(), message: 'Не намерихме обяви, отговарящи на критериите. Опитайте с по-широки предпочитания или по-голям брой дни.' } }}",
        "options": { "responseCode": 200 }
      },
      "id": "cbcefd20-4fcc-439d-a722-8424e75a6799",
      "name": "Return Empty Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2000, 688]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.jobs",
        "options": {}
      },
      "id": "e8d4d770-29dc-4a93-85c6-b0ff9bf65e1b",
      "name": "Split Jobs Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1808, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "date-cond",
              "leftValue": "={{ $json.date_posted }}",
              "operator": { "type": "dateTime", "operation": "after" },
              "rightValue": "={{ $now.minus({ days: $('Build dev.bg Target URL').first().json.days_back }).toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "490f8e72-5d96-452a-a886-3cc65b8e442b",
      "name": "Filter: By Date Range",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [1984, 112]
    },
    {
      "parameters": { "maxItems": 10 },
      "id": "69dafb77-612a-4c93-a25b-05922df46bf0",
      "name": "Limit: Max 10 Jobs",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "score-text",
              "name": "scoring_text",
              "value": "={{ \"=== CV PROFILE ===\\nSkills: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.skills.join(\", \") + \"\\nProgramming Languages: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.programming_languages.join(\", \") + \"\\nFrameworks: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.frameworks.join(\", \") + \"\\nTools: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.tools.join(\", \") + \"\\nSpoken Languages: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.spoken_languages.join(\", \") + \"\\nExperience Level: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.experience_level + \"\\nYears: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.years_of_experience + \"\\nPrevious Roles: \" + $(\"Build dev.bg Target URL\").first().json.cv_profile.job_titles.join(\", \") + \"\\n\\n=== JOB LISTING ===\\nTitle: \" + $json.title + \"\\nCompany: \" + $json.company + \"\\nLocation: \" + $json.location + \"\\nType: \" + $json.employment_type + \"\\nDescription: \" + $json.description }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "653413f8-12a3-447b-9cae-66c654263258",
      "name": "Compose Scoring Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1632, 400]
    },
    {
      "parameters": {
        "text": "={{ $json.scoring_text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"score\": 78, \"matched_skills\": [\"Node.js\", \"PostgreSQL\", \"REST API\"], \"missing_skills\": [\"Angular\", \"HTML\", \"CSS\"], \"experience_match\": true, \"summary\": \"Силно backend съвпадение — full-stack позиция, липсва frontend опит\"}",
        "options": {
          "systemPromptTemplate": "You are a job matching expert. Given a CV profile and job listing, score the percentage of JOB requirements that the candidate covers (0-100). RULES: Do NOT exclude jobs for having extra requirements — show them with lower scores. matched_skills = requirements the candidate has. missing_skills = requirements the candidate lacks. Spoken Languages (e.g. English, Bulgarian) listed under 'Spoken Languages' in the CV profile are confirmed — do NOT list them as missing_skills. Write the summary in Bulgarian in one sentence.",
          "batching": { "batchSize": 1, "delayBetweenBatches": 0 }
        }
      },
      "id": "d55d2942-0097-4a59-8ee1-80498619f911",
      "name": "Score Job vs CV",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [1824, 400]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": { "temperature": 0.1 }
      },
      "id": "e49cde4c-3bfd-4b94-9c6a-158e0bedd12b",
      "name": "Gemini Flash (Scoring)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [1824, 576]
    },
    {
      "parameters": {
        "jsCode": "// Index-match scored items with original job data (Information Extractor discards original fields)\nconst scoreItems = $input.all();\nconst originalItems = $('Compose Scoring Input').all();\n\nreturn scoreItems.map((scoreItem, i) => {\n  const scoreData = scoreItem.json.output || {};\n  const jobData = (originalItems[i] || { json: {} }).json;\n\n  return {\n    json: {\n      title: jobData.title || '',\n      company: jobData.company || '',\n      url: jobData.url || '',\n      date_posted: jobData.date_posted || '',\n      location: jobData.location || '',\n      employment_type: jobData.employment_type || '',\n      description: (jobData.description || '').substring(0, 500),\n      score: typeof scoreData.score === 'number' ? scoreData.score : 0,\n      matched_skills: Array.isArray(scoreData.matched_skills) ? scoreData.matched_skills : [],\n      missing_skills: Array.isArray(scoreData.missing_skills) ? scoreData.missing_skills : [],\n      experience_match: scoreData.experience_match === true,\n      summary: scoreData.summary || ''\n    }\n  };\n});"
      },
      "id": "254d57b4-c688-4a70-81c9-ce5f7697f27f",
      "name": "Merge Score with Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1968, 400]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [{ "fieldName": "score", "order": "descending" }]
        },
        "options": {}
      },
      "id": "be774883-1cb0-46bc-b333-4d23d52fd9a1",
      "name": "Sort by Score",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [2288, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "jobs",
        "options": {}
      },
      "id": "4162e51e-f5a7-4363-9c83-7a75845be987",
      "name": "Aggregate Job Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2480, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r-jobs",
              "name": "jobs",
              "value": "={{ ($json.jobs || []).filter(j => j.score >= 30) }}",
              "type": "array"
            },
            {
              "id": "r-total",
              "name": "total",
              "value": "={{ ($json.jobs || []).filter(j => j.score >= 30).length }}",
              "type": "number"
            },
            {
              "id": "r-time",
              "name": "processed_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "r-ok",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "ba717dab-edc3-4f33-85c7-25dc895b99f2",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2672, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "email-cond",
              "leftValue": "={{ $('Build dev.bg Target URL').first().json.user_email }}",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        },
        "options": {}
      },
      "id": "7acec30e-edee-44ea-82e1-a0c86de5efcf",
      "name": "Email Provided?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2864, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Build dev.bg Target URL').first().json.user_email }}",
        "subject": "={{ \"CV Job Matcher — \" + $(\"Build Final Response\").first().json.total + \" подходящи обяви намерени\" }}",
        "message": "={{ \"<h2>Намерихме \" + $(\"Build Final Response\").first().json.total + \" подходящи обяви!</h2><ul>\" + $(\"Build Final Response\").first().json.jobs.map(function(j) { return \"<li><strong>\" + j.title + \"</strong> — \" + j.company + \"<br>Съвпадение: <b>\" + j.score + \"%</b><br>\" + (j.summary || \"\") + \"<br><a href='\" + j.url + \"'>Виж обявата →</a></li>\"; }).join(\"\") + \"</ul>\" }}",
        "options": { "appendAttribution": false }
      },
      "id": "0d57e652-b0bd-4120-a4ae-7ce193d544d3",
      "name": "Send Results Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [3040, 304],
      "webhookId": "782e0508-a7fd-44d1-b441-e13c8e4de2fe",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Build Final Response').first().json }}",
        "options": {}
      },
      "id": "a194bb9f-f8bb-40e1-9740-09d701fabad7",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [3232, 416]
    }
  ],
  "connections": {
    "Receive CV Upload": { "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]] },
    "Normalize Input": { "main": [[{ "node": "Validate CV File", "type": "main", "index": 0 }]] },
    "Validate CV File": { "main": [[{ "node": "Input Valid?", "type": "main", "index": 0 }]] },
    "Input Valid?": {
      "main": [
        [{ "node": "Extract CV Text", "type": "main", "index": 0 }],
        [{ "node": "Error: Invalid CV", "type": "main", "index": 0 }]
      ]
    },
    "Extract CV Text": { "main": [[{ "node": "CV Text Valid?", "type": "main", "index": 0 }]] },
    "CV Text Valid?": {
      "main": [
        [{ "node": "Parse CV Profile", "type": "main", "index": 0 }],
        [{ "node": "Error: Cannot Read CV", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Flash (CV Parse)": { "ai_languageModel": [[{ "node": "Parse CV Profile", "type": "ai_languageModel", "index": 0 }]] },
    "Parse CV Profile": { "main": [[{ "node": "Build dev.bg Target URL", "type": "main", "index": 0 }]] },
    "Build dev.bg Target URL": { "main": [[{ "node": "Scrape dev.bg via Firecrawl", "type": "main", "index": 0 }]] },
    "Scrape dev.bg via Firecrawl": { "main": [[{ "node": "Extract Job Listings", "type": "main", "index": 0 }]] },
    "Gemini Flash (Job Extract)": { "ai_languageModel": [[{ "node": "Extract Job Listings", "type": "ai_languageModel", "index": 0 }]] },
    "Extract Job Listings": { "main": [[{ "node": "Assign Job URLs", "type": "main", "index": 0 }]] },
    "Assign Job URLs": { "main": [[{ "node": "Jobs Found?", "type": "main", "index": 0 }]] },
    "Jobs Found?": {
      "main": [
        [{ "node": "Split Jobs Into Items", "type": "main", "index": 0 }],
        [{ "node": "Return Empty Results", "type": "main", "index": 0 }]
      ]
    },
    "Split Jobs Into Items": { "main": [[{ "node": "Filter: By Date Range", "type": "main", "index": 0 }]] },
    "Filter: By Date Range": { "main": [[{ "node": "Limit: Max 10 Jobs", "type": "main", "index": 0 }]] },
    "Limit: Max 10 Jobs": { "main": [[{ "node": "Compose Scoring Input", "type": "main", "index": 0 }]] },
    "Compose Scoring Input": { "main": [[{ "node": "Score Job vs CV", "type": "main", "index": 0 }]] },
    "Gemini Flash (Scoring)": { "ai_languageModel": [[{ "node": "Score Job vs CV", "type": "ai_languageModel", "index": 0 }]] },
    "Score Job vs CV": { "main": [[{ "node": "Merge Score with Job", "type": "main", "index": 0 }]] },
    "Merge Score with Job": { "main": [[{ "node": "Sort by Score", "type": "main", "index": 0 }]] },
    "Sort by Score": { "main": [[{ "node": "Aggregate Job Results", "type": "main", "index": 0 }]] },
    "Aggregate Job Results": { "main": [[{ "node": "Build Final Response", "type": "main", "index": 0 }]] },
    "Build Final Response": { "main": [[{ "node": "Email Provided?", "type": "main", "index": 0 }]] },
    "Email Provided?": {
      "main": [
        [{ "node": "Send Results Email", "type": "main", "index": 0 }],
        [{ "node": "Return Results", "type": "main", "index": 0 }]
      ]
    },
    "Send Results Email": { "main": [[{ "node": "Return Results", "type": "main", "index": 0 }]] }
  }
}
